<header id="controller_header">
    <div class="title"><span class="quiz">Quiz &raquo; Teams</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('quiz_admin_team', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('quiz_admin_team', {"action": "add", "quizid": getParam('quizid') }) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('quiz_admin_team', 'manage') %}
                <li>
                    <a
                        {% if 'manage' == getParam('action') or 'edit' == getParam('action') %} class="active" {% endif %}
                        href="{{ url('quiz_admin_team', {"action": "manage", "quizid": getParam('quizid')}) }}"
                    >
                        Manage
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
