<header id="controller_header">
    <div class="title"><span class="mail">Study Mail</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('admin_mail_study', 'send') %}
                <li><a{% if 'send' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_mail_study', {'action': 'send'}) }}">Study</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
