<header id="controller_header">
    <div class="title"><span class="publication">Publications</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('publication_admin_publication', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('publication_admin_publication', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('publication_admin_publication', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('publication_admin_publication', {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
