<header id="controller_header">
    <div class="title"><span class="calendar">Calendar</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('admin_calendar_registration', 'manage') %}
                <li><a {% if 'admin_calendar_registration' == getParam('controller') %} class="active" {% endif %} href="{{ url('admin_calendar_registration', {"action": "manage"}) }}">Registration</a></li>
            {% endif %}
            {% if hasAccess('admin_calendar', 'add') %}
                <li><a {% if 'add' == getParam('action') and 'admin_calendar' == getParam('controller') %} class="active" {% endif %} href="{{ url('admin_calendar', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('admin_calendar', 'old') %}
                <li>
                    <a {% if 'old' == getParam('action') and 'admin_calendar' == getParam('controller') %} class="active" {% endif %} href="{{ url('admin_calendar', {"action": "old"}) }}">
                        Old
                    </a>
                </li>
            {% endif %}
            {% if hasAccess('admin_calendar', 'manage') %}
                <li>
                    <a {% if 'manage' == getParam('action') and 'admin_calendar' == getParam('controller') %} class="active" {% endif %} href="{{ url('admin_calendar', {"action": "manage"}) }}">
                        Manage
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
