{% extends 'supplier/base.twig' %}

{% block content %}
    {% if authenticated %}
	    <h2>Welcome <i>{{ authenticatedUser }}</i> of <i>{{ supplier.getName() }}</i></h2>
	{% else %}
	    <div style="text-align: center">
	        <img src="/img/litus.png" alt="Litus" /><br />
	        Please login to get access to these pages.
	    </div>
	{% endif %}
{% endblock %}