<header id="controller_header">
    <div class="title"><span class="prom">Prom</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('prom_admin_bus', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url("prom_admin_bus", {"action": "manage"}) }}">Buses</a></li>
            {% endif %}
            {% if hasAccess('prom_admin_codes', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url("prom_admin_code", {"action": "manage"}) }}">Codes</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
