{% extends 'prof/base.twig' %}

{% block content %}
	<div class="page-header">
	    <h2>{{ translator().translate('Add Article') }}</h2>
	</div>
	{% autoescape false %}
	    {{ form }}
	{% endautoescape %}
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#internal').click(toggleInternal);
			toggleInternal();
			
			$('#subjectSearch').typeaheadRemote(
			    {
			        source: '{{ url("prof_subject_typeahead", {"language": language.getAbbrev()})}}',
			    }
			).change(function (e) {
			    if ($(this).data('value')) {
			        $('#subjectId').val($(this).data('value').id);
			    } else {
			        $('#subjectId').val('');
			    }
			});
		});
		
		function toggleInternal() {
			if ($('#internal').is(':checked'))
				$('#internal_form').show();
			else
				$('#internal_form').hide();
		}
	</script>
{% endblock %}
