{% extends 'prof/base.twig' %}

{% block content %}
	<div class="page-header">
	    <h2>Add Article</h2>
	</div>
	{% autoescape false %}
	    {{ form }}
	{% endautoescape %}
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#internal').click(toggleInternal);
			toggleInternal();
		});
		
		function toggleInternal() {
			if ($('#internal').is(':checked'))
				$('#internal_form').show();
			else
				$('#internal_form').hide();
		}
	</script>
{% endblock %}