{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'ticket/admin/consumptions/partials/navigation.twig' %}

    <div style="height: 80px"></div>
    <div id="controller_action">
        <h1><b><u>Total: {{ total }}</u></b></h1>
    </div>
{% endblock %}