{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h2>{{ translate('News') }}</h2>
    </div>

    <h3>{{ news.getTitle(language) }}</h3>

    <div class="item date-left">
        <h4 class="date left">{{ dateLocalized(news.getCreationTime(), 'd MMM') }}</h4>
        <blockquote>{{ hideEmail(markdown(news.getContent(language)))|raw }}</blockquote>
    </div>
{% endblock %}
