{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h2>{{ translate('News') }}</h2>
    </div>

    <h3>{{ news.getTitle(language) }} <small>&mdash; {{ dateLocalized(news.getCreationTime(), 'd MMMM') }}</small></h3>

    <div style="margin-left: 5px;">
        {{ hideEmail(markdown(news.getContent(language)))|raw }}
    </div>
{% endblock %}
