{% extends 'site/base.twig' %}

{% block content %}
    <div class="container"> 
        <div class="spacer50"></div>
        <h3>{{translate('News')}} - {{ news.getTitle(language) }} <small>&mdash; {{ dateLocalized(news.getCreationTime(), 'd MMMM') }}</small></h3>

        <div class="markdown">
            {{ hideEmail(markdown(news.getContent(language)))|raw }}
        </div>
        <div class="spacer40"></div>
    </div>
{% endblock %}
