<header id="controller_header">
    <div class="title"><span class="config">Configuration</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('admin_config', 'manage') %}
                <li>
                	<a 
                		{% if 'manage' == getParam('action') or 'edit' == getParam('action') %} class="active" {% endif %} 
                		href="{{ url('admin_config', {"action": "manage"}) }}"
                	>
                		Manage
                	</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>