{% extends 'prof/base.twig' %}

{% block content %}
	{% if authenticated %}
	    <h2>News</h2>
	{% else %}
	    <div style="text-align: center;">
	        <img src="/img/litus.png" alt="Litus" />
	        <h3>Please login to get access to these pages.</h3>
	    </div>
	{% endif %}
{% endblock %}