{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/match/feature/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
    
{% endblock %}



{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            // $('.type').change(toggleType);
            // toggleType();

            $('#student_typeahead').typeaheadRemote(
                {
                    source: '{{ url("common_admin_academic_typeahead")}}',
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    $('[name="student[id]"]').val($(this).data('value').id);
                } else {
                    $('[name="student[id]"]').val('');
                }
            });
        //
        // function toggleType() {
        //     $('.company_select').addClass('hide');
        //     $('.student_typeahead').addClass('hide');
        //
        //     if ($('.type').value === 'student'){
        //         $('.student').removeClass('hide');
        //     }
        //     if ($('.type').value === 'company'){
        //         $('.student').removeClass('hide');
        //     }
        //     console.log($('type'));
        });
    </script>
{% endblock %}
