html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,input,select{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
ul{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
.clearfix{content:".";height:0;clear:both;visibility:hidden;}
.dashboard{padding-left:20px;background:url("/_admin/img/icons.png") no-repeat 0 0;}
.groups{padding-left:20px;background:url("/_admin/img/icons.png") no-repeat 0 -16px;}
.groups_add{padding-left:20px;background:url("/_admin/img/icons.png") no-repeat 0 -32px;}
.users{padding-left:20px;background:url("/_admin/img/icons.png") no-repeat 0 -80px;}
.users_add{padding-left:20px;background:url("/_admin/img/icons.png") no-repeat 0 -96px;}
.companies{padding-left:20px;background:url("/_admin/img/icons.png") no-repeat 0 -144px;}
.companies_add{padding-left:20px;background:url("/_admin/img/icons.png") no-repeat 0 -160px;}
.textbooks{padding-left:20px;background:url("/_admin/img/icons.png") no-repeat 0 -208px;}
.textbooks_add{padding-left:20px;background:url("/_admin/img/icons.png") no-repeat 0 -224px;}
.sections{padding-left:20px;background:url("/_admin/img/icons.png") no-repeat 0 -272px;}
.sections_add{padding-left:20px;background:url("/_admin/img/icons.png") no-repeat 0 -288px;}
fieldset{width:490px;margin-top:10px;border-top:1px solid #d7d4d4;}fieldset legend{padding:0 5px 0 20px;font-weight:bold;}
input,select{height:20px;background:#ffffff url("/_admin/img/i.png") repeat-x;border:1px solid #d7d4d4;color:#7f7c7c;}
input{padding-left:3px;}
input[type=submit]{height:16px;margin-top:7px;padding:0 4px 6px 4px;text-indent:16px;border:none;font-weight:bold;}
input[type=checkbox]{height:14px;margin-top:3px;}
select[multiple=multiple]{min-width:100px;height:125px;}
textarea{width:300px;height:125px;padding:3px;background:#ffffff url("/_admin/img/i.png") repeat-x;border:1px solid #d7d4d4;color:#7f7c7c;}
table{width:100%;margin-bottom:5px;padding:0;border-collapse:separate;font-size:11px;}table th,table td{padding:5px 5px 4px;line-height:15px;text-align:left;vertical-align:middle;border-bottom:1px solid #d7d4d4;}
table th{padding-top:4px;font-weight:bold;border-bottom-width:2px;}
.zebra-striped tbody tr:nth-child(odd) td{background-color:#ffffff;}
.zebra-striped tbody tr:hover td{background-color:#f5f5f5;}
html,body{height:100%;}
body{background:#ffffff url("/_admin/img/bg.png") 50% 0 repeat-x;font-family:Tahoma, Arial, serif;font-size:11px;color:#7f7c7c;}
#layout{display:block;position:relative;width:1000px;min-height:100%;height:auto !important;height:100%;margin:0 auto -40px auto;background:#efefef;}
#content:after{content:".";height:0;clear:both;visibility:hidden;}
#content_header{height:106px;margin-bottom:5px;background:url("/_admin/img/bg.png") 50% 0 repeat-x;}#content_header a{position:absolute;width:139px;height:36px;margin:43px 0 0 26px;display:block;background:url("/_admin/img/litus.png") no-repeat;}
#content_header p{position:absolute;right:0;top:56px;font-size:10px;}#content_header p time{color:#ffffff;text-transform:uppercase;}
#content_header #tag{margin-top:13px;color:#ffae00;}
#content_nav{float:left;width:191px;color:#7f7c7c;}#content_nav .topmenu,#content_nav .submenu{display:block;}
#content_nav .topmenu{margin-bottom:5px;}#content_nav .topmenu .title{display:block;height:28px;margin-bottom:5px;line-height:28px;text-indent:9px;font-weight:bold;color:#161616;background:url("/_admin/img/m.gif");}
#content_nav .topmenu li{text-indent:9px;}#content_nav .topmenu li a{display:block;line-height:19px;text-decoration:none;color:inherit;}
#content_nav .topmenu li a:hover{color:#000000;}
#content_nav .topmenu li a:before{content:"- ";}
#content_nav .topmenu li a:hover:before{content:"- ";color:#ffae00;}
#content_nav .submenu .title{display:block;height:28px;line-height:28px;text-indent:9px;font-weight:bold;color:#ffae00;cursor:pointer;background:#0f0f0f;}
#content_nav .submenu .subtitle{display:block;height:37px;padding-left:9px;background:url("/_admin/img/m.gif") 0 -28px;cursor:pointer;}#content_nav .submenu .subtitle b{color:#000000;}
#content_nav .submenu .subtitle p{display:block;height:37px;padding-top:5px;font-weight:normal;}
#content_nav .submenu ul{display:none;padding:5px 0;}#content_nav .submenu ul li{display:block;padding-left:9px;line-height:19px;}#content_nav .submenu ul li a{display:block;line-height:19px;text-decoration:none;color:inherit;}
#content_nav .submenu ul li a:hover{color:#000000;}
#content_nav .submenu ul li a:hover:before{color:#ffae00;}
#content_controller{float:right;width:799px;min-height:300px;height:auto !important;height:300px;padding-bottom:5px;}#content_controller #controller_header{height:28px;margin:0 5px 5px 0;line-height:28px;background:url("/_admin/img/h.gif") repeat-x bottom;}#content_controller #controller_header .title{display:block;float:left;}
#content_controller #controller_header #controller_nav{display:block;float:right;}#content_controller #controller_header #controller_nav li{display:inline;}#content_controller #controller_header #controller_nav li .active{font-weight:bold;}
#content_controller #controller_header #controller_nav li a{padding:0 5px 0 1px;text-decoration:none;color:inherit;}
#content_controller #controller_header #controller_nav li a:hover{color:#000000;}
#content_controller #controller_header #controller_nav li:after{content:"|";color:#d7d4d4;}
#content_controller #controller_header #controller_nav li:last-child a{padding-right:0;}
#content_controller #controller_header #controller_nav li:last-child:after{content:none;}
#content_controller #controller_action{float:left;}#content_controller #controller_action .form{padding:0;}#content_controller #controller_action .form .row{clear:both;padding-top:10px;width:500px;}#content_controller #controller_action .form .row .label{float:left;width:150px;margin-top:2px;height:0px;text-align:right;}
#content_controller #controller_action .form .row .field{float:right;width:340px;text-align:left;}
#content_controller #controller_action .form .errors{clear:both;margin-left:160px;padding-top:2px;}#content_controller #controller_action .form .errors li{color:#ff6633;}
#content_controller #controller_action .form .required:after{content:"*";}
#content_controller #controller_action .success_message{margin-top:20px;color:#03af29;}
#content_controller #controller_action .error_message{margin-top:20px;color:#ff6633;}
#content_controller aside{float:right;width:191px;}#content_controller aside .sidebox{margin:0 5px 10px 0;}#content_controller aside .sidebox .title{display:block;height:20px;line-height:20px;text-indent:9px;text-transform:uppercase;font-size:10px;font-weight:bold;color:#ffffff;background:url("/_admin/img/s.gif") repeat-x 0 0;}
#content_controller aside .sidebox .content{padding:5px;color:#ffffff;background:#fdc346 url("/_admin/img/s.gif") repeat-x 0 -20px;}#content_controller aside .sidebox .content p{margin-top:10px;}
#content_controller aside .sidebox .content p:first-child{margin-top:0;}
#footer_push{height:40px;display:block;clear:both;}
footer{position:relative;width:980px;height:40px;margin:0 auto;line-height:40px;text-indent:10px;color:#7f7c7c;font-size:10px;background:url("/_admin/img/h.gif") repeat-x 0 0;}footer a{text-decoration:underline;color:#666666;}
footer a:hover{text-decoration:none;color:inherit;}
footer .development_information{float:right;margin-right:10px;}
