{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Account') }} <small>&mdash; {{ translate('Activate') }}</small></h1>
    </div>

    {% import 'site/partials/form.twig' as forms %}
    {{ forms.renderForm(form) }}
{% endblock %}
