{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_supplier/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		{% autoescape false %}
	    	{{ form }}
	    {% endautoescape %}
	</div>
{% endblock %}