{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_supplier/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
    
	<div id="controller_action">
		<div>
		    <table class="full_width">
		        <thead>
		            <tr>
		                <th>Name</th>
		            	<th width="200px">Actions</th>
		            </tr>
		        </thead>
		
		        <tbody>
		            {% for supplier in paginator %}
		                <tr>
		                    <td>{{ supplier.getName() }}</td>
		            		<td>
		            		    {% if hasAccess('admin_supplier', 'edit') %}
		            			    <a href="{{ url('admin_supplier', {"action": "edit", "id": supplier.getId()}) }}" class="edit">Edit</a>
		            			{% endif %}
		            			{% if hasAccess('admin_supplier', 'supplier') %}
		            			    <a href="{{ url('admin_supplier', {"action": "view", "id": supplier.getId()}) }}" class="view">View</a>
		            			{% endif %}
		            		</td>
		                </tr>
		            {% endfor %}
		        </tbody>
		    </table>
	
			{% include 'admin/partials/paginationControl.twig' %}
		</div>
	</div>
{% endblock %}