<header id="controller_header">
    <div class="title"><span class="company">Jobs</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('br_admin_company_job', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_company_job', {"action": "add", "id": company.getId()}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('br_admin_company_job', 'manage') %}
                <li>
                    <a
                        {% if 'manage' == getParam('action') or 'edit' == getParam('action') %} class="active" {% endif %}
                        href="{{ url('br_admin_company_job', {"action": "manage", "id": company.getId()}) }}"
                    >
                        Manage
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
