{% extends 'logistics/base.twig' %}

{% block content %}
{#    {%  include 'logistics/inventory/partials/navigation.twig' %}#}
    {% if authenticatedPerson is null %}
        <div class="page-header">
            <h1>{{ translate('Flesserke form') }}</h1>
        </div>

        <div>{{ translate('Please login to view Flesserke form.') }}</div>
    {% else %}

        <div class="container modal-body">
            {% import 'site/partials/form.twig' as forms %}
            {{ forms.renderForm(form) }}
        </div>
    {%  endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function (){
            document.getElementById('barcode').focus();
            $('#barcode').keydown( function(e) {
                if (e.key === 'Enter') {
                    e.preventDefault()
                    document.getElementById('name').focus();
                }
            });
            $('#name').keydown( function(e) {
                if (e.key === 'Enter') {
                    e.preventDefault()
                    document.getElementById('amount').focus();
                }
            })
        });
    </script>
{% endblock %}