{% extends 'logistics/base.twig' %}

{% block content %}
    {% include 'admin/partials/flashMessenger.twig' %}

    <div class="container modal-body">
        {% import 'site/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function (){
            const reserve = document.getElementById('reserve');
            reserve.focus();
            $('#reserve').keydown( function(e) {
                if (e.key === 'Enter') {
                    e.preventDefault()
                    reserve.click();
                }
            });
        });
    </script>
{% endblock %}