{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'calendar/admin/calendar/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <p>Download a webpage that can be used to check membership status at events.</p>
        <p>&nbsp;</p>
        {% if hasAccess('calendar_admin_calendar_registration', 'export') %}
        <p><a href="{{ url('calendar_admin_calendar_registration', {"action": "export"}) }}" class="download">Download</a></p>
        {% endif %}
    </div>
{% endblock %}
