<header id="controller_header">
    <div class="title"><span class="communication">Communication Calendar</span></div>

    <nav id="controller_nav">
        <ul>
            {%  if hasAccess('br_admin_communication', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class = 'active' {%  endif %} href="{{ url('br_admin_communication', {"action": "add"}) }}"> Add </a></li>
            {%  endif %}
{#            {%  if hasAccess('br_admin_communication', 'old') %}#}
{#                <li><a {% if 'old' == getParam('action') %} class = 'active' {%  endif %} href="{{ url('br_admin_communication', {"action": "old"}) }}"> Old </a></li>#}
{#            {%  endif %}#}
            {% if hasAccess('br_admin_communication', 'manage') %}
                <li><a {% if 'manage' == getParam('action') or 'edit' == getParam('action') or 'delete' == getParam('action') %} class="active" {% endif %}
                            href="{{ url('br_admin_communication', {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>