<header id="controller_sub_header">
    <nav id="controller_sub_nav">
        <ul id="supplier_nav">
            {% if getParam('action') == 'deliveries' or getParam('action') == 'retours' %}
                {% set action = getParam('action') %}
            {% else %}
                {% set action = 'deliveries' %}
            {% endif %}
            {% for supp in suppliers %}
                <li><a {% if supp.getId() == supplier.getId() %} class="active" {% endif %}href="{{ url("admin_sales_financial", {"action": action, "id": supp.getId()}) }}">{{ supp.getName() }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>

{% if supplier is not null %}
<header id="controller_sub_header">
    <nav id="controller_sub_nav">
        <ul>
            <li><a {% if 'deliveries' == getParam('action') %} class="active" {% endif %}href="{{ url("admin_sales_financial", {"action": 'deliveries', "id": supplier.getId()}) }}">Deliveries</a></li>
            <li><a {% if 'retours' == getParam('action') %} class="active" {% endif %}href="{{ url("admin_sales_financial", {"action": 'retours', "id": supplier.getId()}) }}">Retours</a></li>
        </ul>
    </nav>
</header>
{% endif %}
