{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/student-company-match/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        The csv file should contain 2 columns, the first one with student r-numbers and the second one with the exact names of the companies.
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}