# These files should be created explicitly
config/database.config.php
config/proxy.config.php
config/redis.config.php
config/sentry.config.php
config/session.config.php

# We don't want data in our Docker images
data/banner/images/
data/br/companies/
data/br/files/
data/cache/
data/calendar/posters/
data/certificates/private/
data/cudi/files/
data/hydrators/
data/page/files/
data/proxies/
data/form/files/

public/_assetic/
public/_common/profile/
public/_gallery/albums/
public/_publications/pdf/
public/_publications/html/
public/_br/img/

# Configuration files for tooling
.azure-pipelines/
.license_header
.mergify.yml
azure-pipelines.yml
phpcs.xml
phpstan.neon

# Exclude the Git repsitory
.git/
.gitignore
