[submodule "library/doctrine2"]
	path = library/doctrine2
	url = https://github.com/doctrine/doctrine2.git
[submodule "library/zf2"]
	path = library/zf2
	url = https://github.com/zendframework/zf2.git
[submodule "public/_bootstrap"]
	path = public/_bootstrap
	url = git://github.com/twitter/bootstrap.git
