stages:
    - build
    - deploy

variables:
    COMPOSER_HOME: $CI_PROJECT_DIR/.composer
    NO_PROXY: "gitlab.vtk.be"

build:
    stage: build
    before_script:
        - sudo update-alternatives --set php /usr/bin/php7.4
        - php -v
    script:
        - composer update --no-dev
        - composer install --no-dev
        - echo $CI_COMMIT_SHA > COMMIT
        - tar czf litus.tar.gz bin/ config/ data/ migrations/ module/ public/ shibboleth/ vendor/ COMMIT LICENSE.md NOTICE.md README.md
    only:
        - master
    cache:
        paths:
            - .composer/
            - vendor/
    artifacts:
        paths:
            - litus.tar.gz


.deploy: &deploy
    stage: deploy
    before_script:
        - sudo update-alternatives --set php /usr/bin/php7.4
        - php -v
        - eval $(ssh-agent -s)
        - ssh-add <(echo $SSH_PRIVATE_KEY | base64 -d)
    script:
        - export SENTRY_LOG_LEVEL=debug
        - scp -o StrictHostKeyChecking=no litus.tar.gz root@$SSH_HOSTNAME:/tmp
        - ssh -o StrictHostKeyChecking=no root@$SSH_HOSTNAME /usr/local/sbin/deploy.sh
    only:
        - master
    when: manual
    dependencies:
        - build

deploy_leia:
    <<: *deploy
    variables:
        SSH_HOSTNAME: leia.vtk.be
    environment:
        name: leia
        url: https://liv.vtk.be

deploy_liv:
    <<: *deploy
    variables:
        SSH_HOSTNAME: liv.vtk.be
    environment:
        name: liv
        url: https://vtk.be
