# These files should be explicitly created
config/database.config.php
config/flysystem.config.php
config/proxy.config.php
config/redis.config.php
config/sentry.config.php
config/session.config.php

# We don't want data in our repository
data/cache
data/files
data/hydrators
data/proxies

public/_assetic

# Exclude dependencies
vendor/

# Output from external tools
phpcs/
phpstan/
