[submodule "vendor/ZendFramework"]
	path = vendor/ZendFramework
	url = git://github.com/zendframework/zf2.git
[submodule "vendor/DoctrineModule"]
	path = vendor/DoctrineModule
	url = git://github.com/doctrine/DoctrineModule.git
[submodule "vendor/DoctrineORMModule"]
	path = vendor/DoctrineORMModule
	url = git://github.com/doctrine/DoctrineORMModule.git
[submodule "vendor/DoctrineMongoODMModule"]
	path = vendor/DoctrineMongoODMModule
	url = git://github.com/doctrine/DoctrineMongoODMModule.git
