# We don't want to version the folders some IDE's create
.idea
.project

*.esproj
*.sublime-project
*.sublime-workspace

# Excluding all nasty .DS_Store files
.DS_Store

# We don't want to version the database configuration
config/database.config.php

# Cached data doesn't have to be versioned
data/cache
data/cudi/files
data/common/profile
data/proxies
data/br/companies

public/_assetic
