# These files should be created explicitlys
config/database.config.php
config/proxy.config.php
config/redis.config.php
config/sentry.config.php
config/session.config.php
config/google.config.php

# We don't want data in our repository
data/banner/images/
data/br/companies/
data/br/files/
data/cache/
data/calendar/posters/
data/certificates/private/
data/cudi/files/
data/hydrators/
data/page/files/
data/proxies/
data/form/files/

public/_assetic/
public/_common/profile/
public/_gallery/albums/
public/_publications/pdf/
public/_publications/html/
public/_br/img/

# Exclude dependencies
vendor/

# Output from external tools
phpcs/
phpstan/

# IDE files
.idea

# google OAuth
service-account.json
