parameters:
    tmpDir: phpstan/
    level: 1
    paths:
        - bin/
        - migrations/
        - module/
        - public/
        - shibboleth/

    includes:
        - vendor/phpstan/phpstan-doctrine/extension.neon

