{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_role/partials/navigation.twig' %}
	
	<div id="controller_action">
		{% if roleCreated %}
			<div class="flashmessage success_message">
				<div class="title">Success</div>
				<div class="content">
					<p>The role was successfully created!</p>
				</div>
			</div>
		{% endif %}
	
		{% autoescape false %}
	    	{{ form }}
	    {% endautoescape %}
	</div>
	
	<aside>
	    <div class="sidebox">
	        <div class="title">Current Access</div>
	        <div class="content">
	            
	        </div>
	    </div>
	</aside>
{% endblock %}