{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_role/partials/navigation.twig' %}
	
	<div id="controller_action">
		{% include 'admin/partials/flashMessenger.twig' %}
	</div>
{% endblock %}