.panel-heading {
    .phase {
        white-space: nowrap;
    }

    a:hover {
        .title {
            text-decoration: underline;
        }

        .phase {
            text-decoration: underline;
        }
    }
}
