.accordion-heading {
    &.selected {
        background-color: #dff0d8;
    }
    &.childSelected {
        background-color: #d9edf7;
    }

    .title {
        display: block;
        max-width: 600px;
        overflow: hidden;
        float: left;
        white-space: nowrap;
    }

    .phase {
        display: block;
        float: left;
    }

    a:hover {
        .title {
            text-decoration: underline;
        }
    }
}