.panel-heading {
    .title {
        display: block;
        max-width: 600px;
        overflow: hidden;
        float: left;
        white-space: nowrap;
    }

    .phase {
        display: block;
        float: left;
    }

    a:hover {
        .title {
            text-decoration: underline;
        }
    }
}

#studies {
    .panel {
        &.panel-info,
        &.panel-success {
            > .panel-heading {
                a {
                    color: #fff;
                }
            }
        }
    }
}
