<header id="controller_header">
    <div class="title"><span class="mail">Prof</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('mail_admin_mail_prof', 'cudi') %}
                <li><a{% if 'cudi' == getParam('action') %} class="active" {% endif %} href="{{ url('mail_admin_mail_prof', {'action': 'cudi'}) }}">Start Cudi</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
