<header id="controller_header">
    <div class="title"><span class="mail">Mail Prof</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('admin_mail_prof', 'startCudi') %}
                <li><a{% if 'startCudi' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_mail_prof', {'action': 'startCudi'}) }}">Start Cudi</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
