{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'logistics/admin/article/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action" style="width: 100%">
        <aside>
            {% if hasAccess('logistics_admin_article', 'orders') %}

                <div class="sidebox">
                    <div class="title">View Orders</div>
                    <div class="content">
                        <p>
                            <i>Please hit the link below to view the orders of this article!</i>
                        </p>
                        <p>
                            <a href="{{ url('logistics_admin_article', {'action': 'orders', 'id': article.getId()}) }}">&rarr; View Orders</a>
                        </p>
                    </div>
                </div>
            {% endif %}

        </aside>
        <h1>Article</h1>
        <p>
            Name: <b>{{ article.getName() }}</b>
        </p>

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}

    </div>
{% endblock %}

{% block content_script %}

    <script type="text/javascript">

    </script>

{% endblock %}
