{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'logistics/admin/article/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Article</h1>
        <p>
            Name: <b>{{ article.getName() }}</b>
        </p>

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}

    </div>
{% endblock %}

{% block content_script %}

    <script type="text/javascript">

    </script>

{% endblock %}
