{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'ticket/admin/event/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        var currentCount = 0;
        $(document).ready(function () {
            $('#enable_options').change(function () {
                if ($(this).is(':checked')) {
                    $('#prices').hide();
                    $('#options').show();
                } else {
                    $('#prices').show();
                    $('#options').hide();

                    addOption();
                }
            }).trigger('change');
        });

        function triggerKeyUp() {
            if ($(this).val().length > 0) {
                $(this).unbind('keyup');
                addOption();
            }
        }

        function addOption() {
            var template = $('#data-template').data('template');
            template = template.replace(/__index__/g, currentCount);
            currentCount++;

            $('form > fieldset#options').append(template);
            $('input[name="options[' + (currentCount - 1) + '][option]"]').keyup(triggerKeyUp);

        }
    </script>
{% endblock %}