<header id="controller_header">
    <div class="title"><span class="secretary">Secretary</span></div>

    <nav id="controller_nav">
        <ul>
            {% for academicYear in academicYears %}
                <li><a {% if academicYear.getCode() == activeAcademicYear.getCode() %} class="active" {% endif %}href="{{ url("secretary_admin_registration", {"action": "manage", "academicyear": academicYear.getCode(), "organization": currentOrganization.getId()}) }}">{{ academicYear.getCode() }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>