<header id="controller_header">
    <div class="title"><span class="secretary">Secretary</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('secretary_admin_registration', 'export') %}
                <li><a href="{{ url('secretary_admin_registration', {"action": "export"}) }}">Export</a></li>
            {% endif %}
            {% if hasAccess('secretary_admin_registration', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('secretary_admin_registration', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('secretary_admin_registration', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('secretary_admin_registration', {"action": "manage", "academicyear": academicYear.getCode()}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>