<header class="controller_sub_header">
    <nav class="controller_sub_nav">
        <ul>
            <li><a {% if currentOrganization is null %} class="active" {% endif %}href="{{ url("secretary_admin_registration", {"action": getParam('action'), "academicyear": activeAcademicYear.getCode()}) }}">All</a></li>
            {% for organization in organizations %}
                <li><a {% if organization.getId() == currentOrganization.getId() %} class="active" {% endif %}href="{{ url("secretary_admin_registration", {"action": getParam('action'), "academicyear": activeAcademicYear.getCode(), "organization": organization.getId()}) }}">{{ organization.getName() }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
