{% extends 'site/base.twig' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{ translate('Archive') }}</h1>
        </div>

        <div class="row">
            {% for publication in publications %}
                <div class="col-xs-6 col-md-2">
                    <a class="publication-link" href="{{ url('publication_archive', { 'action': 'year', 'publication': publication.getId() }) }}">{{ publication.getTitle() }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
