<header id="controller_header">
    <div class="title"><span class="article">Sale Articles</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('cudi_admin_sales_article', 'export') %}
                <li><a {% if 'export' == getParam('action') %} class="active" {% endif %} href="{{ url('cudi_admin_sales_article', {"action": "export"}) }}">Export</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_article', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('cudi_admin_sales_article', {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
