<header id="controller_header">
    <div class="title"><span class="action">Matches</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('br_admin_match_match', 'generateMatches') %}
                <li><a {% if 'generateMatches' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_match_match', {"action": "generateMatches"}) }}">Generate Matches</a></li>
            {% endif %}
            {% if hasAccess('br_admin_match_match', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_match_match', {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
