{% extends 'sale/base_no_nav.twig' %}

{% block content %}
	<div class="flashmessage alert alert-error fade" id="add_queue_error">
		<div class="title">Error</div>
		<div class="content">
			<p>There are no bookings for you.</p>
		</div>
	</div>
	
	<div class="flashmessage alert alert-success fade" id="add_queue_success">
		<div class="title">Success</div>
		<div class="content">
			<p>You are succesfully added to the queue. Your queue number is: <strong class="queueNumber"></strong></p>
		</div>
	</div>
	
	<div class="flashmessage alert alert-error fade" id="socket_error">
		<div class="title">Error</div>
		<div class="content">
			<p>The connection with the server is down.</p>
		</div>
	</div>
	
	{% autoescape false %}
		{{ form }}
	{% endautoescape %}
{% endblock %}

{% block controller_script %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('.flashmessage').autoHideFlashMessages({speed: 0, timeOut: 0});
			
			$('#username').keypress(function(e) {
			    if (e.keyCode == 13) {
			    	e.preventDefault();
			        signIn();
			    }
			});
			$('#signin').click(function() {
			    signIn();
			});
		});
		
		$.webSocket(
			{
				name: 'signinQueue',
				url: '{{ socketUrl }}',
				open: function (e) {
					$('#socket_error').removeClass('in');
				},
				message: function (e, data) {
					if (data.queueNumber) {
						$('#add_queue_error').removeClass('in');
						$('#add_queue_success').addClass('in')
							.find('.queueNumber').html(data.queueNumber);
						$('#username').val('');
					} else if (data.error) {
						if ('person' == data.error) {
							$('#add_queue_success').removeClass('in');
							$('#add_queue_error').addClass('in')
								.find('.content').html('The person you entered does not exist.');
						} else if ('noBookings' == data.error) {
							$('#add_queue_success').removeClass('in');
							$('#add_queue_error').addClass('in')
								.find('.content').html('There are no bookings for you.');
						} else {
							$('#add_queue_success').removeClass('in');
							$('#add_queue_error').addClass('in')
								.find('.content').html('An unexpected error occured.')
						}
					}
					$('.flashmessage').autoHideFlashMessages();
				},
				error: function (e) {
					$('#socket_error').addClass('in');
				}
			}
		);
			
		function signIn() {
			$.webSocket('send', {name: 'signinQueue', text: 'action: addToQueue ' + $('#username').val()});
		}
	</script>
{% endblock %}