<header id="controller_header">
    <div class="title"><span class="lease">Lease</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('logistics_admin_lease', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('logistics_admin_lease', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('logistics_admin_lease', 'manage') %}
                <li>
                    <a
                        {% if 'manage' == getParam('action') or 'edit' == getParam('action') %} class="active" {% endif %}
                        href="{{ url('logistics_admin_lease', {"action": "manage"}) }}"
                    >
                        Manage
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
