{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'logistics/admin/driver/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
	
		<p>
		Add here
		</p>
	
    </div>
{% endblock %}
