{% extends 'site/base.twig' %}

{% block content %}

{# Script for dropdown functionality  #}
    {{ inlineScript() }}

    <script type="text/javascript">
        $(document).ready(function() {
            var faqItems = document.getElementsByClassName('FAQHolder'); 
            for(var i = 0; i < faqItems.length; i++) {
                var currentFAQ = faqItems[i]; 
                var currentContent = currentFAQ.querySelector('.FAQcontent'); 
                currentContent.setAttribute("style", "height: 0px;"); 
                currentFAQ.addEventListener("click", func, false);
                function func() {
                    var currentContent = this.querySelector('.FAQcontent'); 
                    if (currentContent.style.height === "0px") {
                        currentContent.setAttribute("style", "height: auto");
                    } else {
                        currentContent.setAttribute("style", "height: 0px");
                    }
                }
            }
        })
    </script>  

    <div class="pageBanner"></div>

    <div class="container">

        {# Should be deleted !!! #}
        {# {% if submenu is not empty %}
            {% include 'page/page/partials/submenu.twig' %}
        {% endif %} #}

    {{ hideEmail(markdown(page.getContent(language)))|raw }}
        <div class="pageTitleHolder">
            <h1>{{ page.getTitle(language) }}</h1>
            <div class="pageTitleDeco"></div>
        </div>
        <div class="spacer40"></div>

        <div class="markdown">
            {{ hideEmail(markdown(page.getContent(language)))|raw }}
        </div>

        <div style="height: 100px"></div>

        {# IF FAQ's #}
        <div>
            <h2>Veelgestelde vragen</h2>
            <div class="spacer20"></div>
            {# For loop door FAQ's #}
            <div class="FAQHolder" id="1">
                <div>
                    <h3 style="margin-bottom: 0px">Dit is FAQ #1</h3>
                </div>
                <div class="FAQcontent">
                    <div class="spacer20"></div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis rutrum felis. Proin dignissim sollicitudin tortor vitae ornare. Aliquam erat volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean et dui cursus nulla cursus lobortis id quis quam. Proin pellentesque aliquet lectus ut mollis. Vivamus bibendum tristique hendrerit. Sed eu cursus tellus, eu scelerisque velit. Aliquam hendrerit commodo arcu, id efficitur ipsum euismod vitae. Phasellus rutrum tortor sit amet blandit rhoncus. Integer eget magna facilisis, tempor elit id, condimentum mi. Proin sodales magna id semper pharetra. Cras urna eros, faucibus eget tristique vel, pulvinar nec neque. Phasellus tempor, dolor eget eleifend semper, dui sem tempus magna, molestie accumsan massa felis non orci.  
                    </p>
                </div>
            </div>
            <div class="FAQHolder" id="2">
                <div>
                    <h3 style="margin-bottom: 0px">Dit is FAQ #1</h3>
                </div>
                <div class="FAQcontent">
                    <div class="spacer20"></div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis rutrum felis. Proin dignissim sollicitudin tortor vitae ornare. Aliquam erat volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean et dui cursus nulla cursus lobortis id quis quam. Proin pellentesque aliquet lectus ut mollis. Vivamus bibendum tristique hendrerit. Sed eu cursus tellus, eu scelerisque velit. Aliquam hendrerit commodo arcu, id efficitur ipsum euismod vitae. Phasellus rutrum tortor sit amet blandit rhoncus. Integer eget magna facilisis, tempor elit id, condimentum mi. Proin sodales magna id semper pharetra. Cras urna eros, faucibus eget tristique vel, pulvinar nec neque. Phasellus tempor, dolor eget eleifend semper, dui sem tempus magna, molestie accumsan massa felis non orci.  
                    </p>
                </div>
            </div>
            <div class="FAQHolder" id="3">
                <div>
                    <h3 style="margin-bottom: 0px">Dit is FAQ #1</h3>
                </div>
                <div class="FAQcontent">
                    <div class="spacer20"></div>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis rutrum felis. Proin dignissim sollicitudin tortor vitae ornare. Aliquam erat volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean et dui cursus nulla cursus lobortis id quis quam. Proin pellentesque aliquet lectus ut mollis. Vivamus bibendum tristique hendrerit. Sed eu cursus tellus, eu scelerisque velit. Aliquam hendrerit commodo arcu, id efficitur ipsum euismod vitae. Phasellus rutrum tortor sit amet blandit rhoncus. Integer eget magna facilisis, tempor elit id, condimentum mi. Proin sodales magna id semper pharetra. Cras urna eros, faucibus eget tristique vel, pulvinar nec neque. Phasellus tempor, dolor eget eleifend semper, dui sem tempus magna, molestie accumsan massa felis non orci.  
                    </p>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
