{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/match/partials/navigation.twig' %}
    {% include 'br/admin/match/feature/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}


    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        <h1>Bonus - Malus</h1>
        {{ forms.renderForm(form) }}
    </div>

{% endblock %}