<header id="controller_header">
    <div class="title"><span class="order">Overview</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('br_admin_overview', 'manage') %}
                <li><a {class="active" href="{{ url('br_admin_overview', {"action": "manage"}) }}">Overview By Persons</a></li>
            {% endif %}
            {% if hasAccess('br_admin_overview', 'manage') %}
                <li><a {class="active" href="{{ url('br_admin_overview', {"action": "company"}) }}">Overview By Companies</a></li>
            {% endif %}
        </ul>
    </nav>
</header>