<header id="controller_header">
    <div class="title"><span class="order">Overview</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('br_admin_overview', 'manage') %}
                <li><a {% if 'manage' == getParam('action') or 'edit' == getParam('action') or 'delete' == getParam('action') %} class="active" {% endif %}
                		href="{{ url('br_admin_order', {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>