{% extends 'logistics/base.twig' %}
{% import 'site/partials/form.twig' as forms %}

{% block content %}
    <h1>{{ translate('Add Order') }}</h1>
    <div>{{ translate("If you don't see your location as a possible option, put it in the description (be as complete as possible). ") }}</div>
    <br>
    {{ forms.renderForm(form) }}
{% endblock %}

