<header id="controller_header">
    <div class="title"><span class="order">Orders</span></div>

    <nav id="controller_nav">
        <ul>
{#            {% if hasAccess('logistics_admin_order', 'conflicting') %}#}
{#                <li><a {% if 'conflicting' == getParam('action') %} class="active" {% endif %} href="{{ url('logistics_admin_order', {"action": "conflicting"}) }}">Conflicting</a></li>#}
{#            {% endif %}#}
            {% if hasAccess('logistics_admin_order', 'removed') %}
                <li><a {% if 'removed' == getParam('action') %} class="active" {% endif %} href="{{ url('logistics_admin_order', {"action": "removed"}) }}">Rejected/Removed/Old</a></li>
            {% endif %}
            {% if hasAccess('logistics_admin_order', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('logistics_admin_order', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('logistics_admin_order', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('logistics_admin_order', {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>