{% for flashMessage in flashMessenger %}
	<div class="flashmessage alert alert-{{ flashMessage.getType() }} fade in">
	    <a class="close" data-dismiss="alert">&times;</a>
		<div class="title">{{ translator().translate(flashMessage.getTitle()) }}</div>
		<div class="content">
			<p>{% autoescape false %}{{ translator().translate(flashMessage.getMessage()) }}{% endautoescape %}</p>
		</div>
	</div>
{% endfor %}
