/**
* Layout
*
* Copyright 2011 Litus
*
* Author: Kristof Mariën <kristof.marien@litus.cc>
* Author: Pieter Maene <pieter.maene@litus.cc>
*/

body {
  background: #fff;
  word-wrap: break-word;

  &.oauth {
    padding-top: 0px;
  }
}

.navbar-main {
  #accountDropdown {
    .profile-wrapper {
      height: 18px;
      display: block;
      position: relative;
      float: left;
    }

    .profile {
      margin: 0 4px 0 0;
      background: transparent url(/_site/img/profile.png) 0 0;
      display: inline-block;
      width: 20px;
      height: 20px;
    }

    &:hover,
    &.open {
      .profile {
        background-position: 0 -30px;
      }
    }

    .fullName {
      display: block;
    }

    .metadata {
      display: block;
      font-size: 12px;
      color: @grayLight;
    }
  }
}

.navbar-collapse {
  max-height: none;
}

header {
  background: rgb(236, 240, 241);

  .site-link {
    text-decoration: none;

    .site-logo {
      float: left;
      margin: 7px 20px 0 20px;
      height: 41px;
    }

    .site-name {
      margin: 0px;
      color: rgb(44, 62, 80);
      font-size: 35px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
      padding: 10px 0 20px 20px;
    }
  }

  .container {
    padding: 10px;
  }
}

#carouselHeader {
  margin: 0 auto 10px;
  width: 940px;
  height: 100px;

  .carousel-control {
    span {
      margin-top: -10px;
    }
  }
}

#page {
  background: @white;
  .heading {
    color: inherit;
    text-decoration: none;

    .glyphicon {
      font-size: 27px;
    }
  }

  .heading-spacer {
    margin: 10px;
  }

  blockquote {
    font-size: @font-size-base;
  }

  .item {
    min-height: 60px;

    .date {
      float: left;
      border: 1px solid @grayDark;
      width: 50px;
      border-radius: 2px;
      text-align: center;

      .month {
        background: @grayDark;
        color: @white;
      }

      .day {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .dayItem {
      margin-left: 55px;
    }
  }

  .nav-tabs {
    margin-bottom: 10px;
  }

  .login-container {
    width: 250px;
    margin: 0 auto;
    padding: 10px;

    input[type="checkbox"],
    label {
      margin: 0;
    }

    a.btn {
      color: #fff;
    }

    .remember_me {
      float: left;
      margin-top: 8px;
    }
  }

  p {
    text-align: justify;
  }
}

footer {
  margin-bottom: 20px;

  text-align: center;
}

.alert {
  margin-bottom: 3px;

  .title {
    font-weight: bold;
  }

  &.fade {
    height: 0;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    border-width: 0px;

    &.in {
      height: auto;
      margin-bottom: @line-height-computed;
      padding: @alert-padding;
      border-width: 1px;
    }
  }
}

table {
  tbody {
    .actions {
      padding: 3px 2px !important;
    }
  }
}

.hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid @grayLighter;
  .clearfix();
}

.form-horizontal {
  .form-group {
    &.required {
      label:after {
        content: "*";
        color: #f00;
      }
    }
  }
}

.disabled {
  cursor: not-allowed;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  z-index: 100;
}

@media (min-width: @screen-md-min) {
  header {
    .site-link {
      display: block;
      width: 940px;
      margin: 0px auto;
    }
  }
}
