/**
 * Variables
 *
 * Copyright 2011 Litus
 *
 * Author: Kristof Mariën <kristof.marien@litus.cc>
 */

// Colors
@black:                         #000;
@white:                         #fff;

@grayDarker:                    #222;
@grayDark:                      #333;
@gray:                          #555;
@grayMiddleLight:               #888;
@grayLight:                     #bbb;
@grayMiddleLighter:             #ddd;
@grayLighter:                   #eee;

@cHeaderDark:                   #121b35;
@cHeaderLight:                  #22325a;

.rotate(@degrees) {
    -webkit-transform: rotate(@degrees);
       -moz-transform: rotate(@degrees);
        -ms-transform: rotate(@degrees);
         -o-transform: rotate(@degrees);
            transform: rotate(@degrees);
}

.rotate-origin(@origin) {
    -webkit-transform-origin: @origin;
       -moz-transform-origin: @origin;
        -ms-transform-origin: @origin;
         -o-transform-origin: @origin;
            transform-origin: @origin;
}