.vtk-home-header {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.6) 45%,
      rgba(255, 255, 255, 0.35) 100%
    ),
    url(https://images.unsplash.com/photo-1514478987080-19824684a6a4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  // url(../img/DJI_0172.png);
  background-position: 50% 70%;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.vtk-textspan {
  color: @color-yellow;
}

.vtk-home-technical {
  background: linear-gradient(
      0deg,
      rgba(240, 240, 240, 0.8),
      rgba(240, 240, 240, 0.8)
    ),
    url(../_site/img/technisch_pattern.png);
  background-position: 60% 20%;
  background-size: 65%;
  padding: 75px 0px;
}

.vtk-home-br {
  padding: 250px 0px;
  background: linear-gradient(
      0deg,
      rgba(50, 50, 50, 0.6),
      rgba(50, 50, 50, 0.6)
    ),
    url(../_site/img/br-bg.png);
  background-position: center;
  background-size: cover;
}

.menuitems-flexbox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menulink {
  margin-bottom: 17px;
}

.calendar-button {
  padding: 10px 25px;
  font-size: 18px;
  font-family: "Assistant";
  font-weight: 600;
}

.DELETE-BGIMAGE {
  height: 200px;
  background-image: url(../_site/img/br-bg.png);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}

.calendar-item {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.calendar-emptyfill {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
