@font-face {
  font-family: "Lulo Clean One Bold";
  src: url("../_site/fonts/164a60c2e090248befbcf32fdd5af386.eot");
  src: url("../_site/fonts/164a60c2e090248befbcf32fdd5af386.eot?#iefix")format("embedded-opentype"),
  url("../_site/fonts/164a60c2e090248befbcf32fdd5af386.woff2")format("woff2"),
  url("../_site/fonts/164a60c2e090248befbcf32fdd5af386.woff")format("woff"),
  url("../_site/fonts/164a60c2e090248befbcf32fdd5af386.ttf")format("truetype"),
  url("../_site/fonts/164a60c2e090248befbcf32fdd5af386.svg#Lulo Clean One Bold")format("svg");
}

/*@font-face { // Font used for jobfair 2025 countdown
  font-family: "Fieldwork Hum Fat";
  src: url("https://use.typekit.net/af/21aed5/00000000000000007735ce87/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),
  url("https://use.typekit.net/af/21aed5/00000000000000007735ce87/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),
  url("https://use.typekit.net/af/21aed5/00000000000000007735ce87/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-stretch: expanded;
}*/

.vtk-home-header {
  width: 100%;
  height: ~"calc(100vh - 135px)";
  padding: 15px;
}

.vtk-home-image {
    // background:
    background: linear-gradient(0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 35%,
    rgba(0, 0, 0, 0) 80%),
      // url(https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    url(../img/Home_vtk.webp);

    background-position: 50% 60%;
    background-size: cover;
    width: 100%;
    height: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.vtk-textspan {
  color: @color-yellow;
}

.vtk-home-technical {
  background: linear-gradient(
      0deg,
      rgba(240, 240, 240, 0.8),
      rgba(240, 240, 240, 0.8)
    ),
    url(../_site/img/technisch_pattern.png);
  background-position: 60% 20%;
  background-size: 65%;
  padding: 75px 0;
}

.vtk-home-br {
  padding: 160px 0px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../_site/img/br-img.webp);
  background-position: center;
  background-size: cover;
}

.menuitems-flexbox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menulink {
  margin-bottom: 17px;
}

.fadeElement {
  display: inline-block;
  opacity: 0;
  transition: all 1.5s;
}

.fadeElement.leftFade {
  transform: translate(-10vw, 0) rotate(5deg);
}

.fadeElement.rightFade {
  transform: translate(10vw, 0) rotate(-5deg);
}

.fadeElement.visibleFade {
  opacity: 1;
  transform: translate(0, 0);
}

.category-title:hover {
  color: @color-yellow
}

.calendar-button {
  padding: 10px 25px;
  font-size: 18px;
  font-family: "Assistant";
  font-weight: 600;
  background-color: @color-blue;
  color: white;
}

.calendar-button:hover {
  color: white;
}

.DELETE-BGIMAGE {
  height: 200px;
  //background-image: url(https://picsum.photos/400);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.frame-poster-big {
  aspect-ratio: 3 / 2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.frame-poster-small {
  aspect-ratio: 3 / 2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.frame-grid-big {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.frame-grid-small {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.container.calendarHolder {
  position: relative; 
  padding: 20px 15px;
  margin-top: -75px;
  margin-bottom: 50px
}

.container.eerstejaarsCalendarHolder
.container.internationalCalendarHolder
.container.careerCalendarHolder {
  position: relative;
  padding: 20px 15px;
  margin-bottom: 50px
}

.frame-item,
.calendar-item {
  background-color: whitesmoke; 
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.frame-item-tekst{
  padding: 10px 20px 30px 20px;
  flex-grow: 1;
}

.calendar-item-tekst {
  padding: 30px 20px 40px 20px; 
  flex-grow: 1; 
}

.frame-emptyfill,
.calendar-emptyfill {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.vtk-hometitle {
  color: white; 
  font-size: 95px;
  margin-bottom: 0px;
  font-weight: 700; 
  font-family: 'Open Sans';
  text-transform: uppercase; 
  position: relative; 
  z-index: 10; 
}

.vtk-home-titleDecoration {
  width: 80%; 
  border-bottom: 25px solid @color-yellow; 
  margin: auto; 
  margin-top: -30px; 
  opacity: 0.8; 
}


.vtk-home-tekstholder {
  // background-color: rgba(26, 31, 74, 0.5); 
  background-color: rgba(255, 255, 255, 0.6); 
  border-left: 8px solid @color-yellow; 
  padding: 20px;
  margin-bottom: -30px; 
  padding-bottom: 150px; 
  display: inline-block; 
}

.home-menu-category {
  width: 200px;
  margin-right: 40px; 
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .vtk-hometitle {
    font-size: 75px;
  }

  .menuitems-flexbox {
    justify-content: flex-start;
    -ms-flex-line-pack: flex-start;
  }

  .frame-grid-big,
  .frame-grid-small,
  .calendar-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 50px;
  }

  .container.calendarHolder {
    margin-top: 15px; 
  }
}

.videoFrame_event {
  width: 50%;
  min-height: 100px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 60%;
  // border: 2px solid #9da8b2;
  box-shadow: 0 0 4px 3px #9da8b2;
  border-radius: 10px;
}

.banner_event {
  @media (min-width: 575.98px) {
    background-image: linear-gradient(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), url(../img/promo_galabal_2425.png);
    height: 85vh;
  }
  @media (max-width: 575.98px) {
    background-image: linear-gradient(rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.03)), url(../img/promo_galabal_2425_mobile.png);
    background-size: contain; /* Ensure the entire image is visible */
    background-position: center; /* Center the image */
    margin-top: 0;
    margin-bottom: 0;
  }
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: whitesmoke;
}

.container_event::before,
.container_event::after {
  content: none;
}

.container_event {
  display: grid;
  @media (min-width: 575.98px) {
    grid-template-columns: 1fr 1fr;
    height: 580px;
  }
  @media (max-width: 575.98px) {
    grid-template-columns: 1fr 1fr;
    height: 500px;
  }
  padding: 0;
  font-family: "Fieldwork Hum Fat";
  color: #143156;
  font-stretch: 200%;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2); /* Add text shadow */
  text-transform: uppercase;
}

.left_column {
  /* Empty left column */
}

.right_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px; /* Increased spacing between right_bottom and bottom_bottom */
  @media (min-width: 575.98px) {
    padding: -70px 100px 100px;
    transform: translateX(80px); /* Move the column 80px to the right */
  }
}

.right_top {
  align-self: flex-start; /* Ensure it aligns to the top */
  font-size: 60px;
  @media (min-width: 575.98px) {
    font-size: 90px;
  }
  text-align: left;
  margin-top: 0; /* Remove any default margin at the top */
  padding-top: 0; /* Remove any default padding at the top */
  padding-left: 12px;
  -webkit-text-stroke: 3px #143156; /* Add stroke to the pseudo-element */
}

.top-font {
  margin-bottom: -20px; /* Adjust this value to reduce the gap */
}

.mid-font {
  font-size: 90px;
  @media (min-width: 575.98px) {
    font-size: 130px;
  }
  line-height: 80px; /* Reduce vertical spacing between VTK and JOBFAIR */
  margin-top: -20px; /* Adjust this value to reduce the gap */
}

.right_bottom {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px; /* Increased spacing between right_bottom and bottom_bottom */
}

.bottom_top {
  font-size: 40px;
  line-height: 1.2; /* Adjust line-height to reduce vertical spacing */
  -webkit-text-stroke: 1.75px #143156; /* Add stroke to the pseudo-element */
}

.bottom_top .info,
.bottom_top .date_info {
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  padding-left: 12px;
}

.bottom_bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #143156; /* Ensure text color in bottom_bottom */
}

a.button_event {
  text-decoration: none; /* Remove underline from the link */
  padding: 12px 12px 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 24px;
  color: #143156; /* Ensure the text color matches */
  font-family: "Fieldwork Hum Fat" !important; /* Set the font to Fieldwork Hum Fat */
  margin-bottom: 0; /* Remove any default margin below the button */
}

.date_info {
  -webkit-text-stroke: 1.75px #48a0c0; /* Add stroke to the pseudo-element */
  color: #48a0c0;
}

  //.button_event {
  //  display: inline-block;
  //  @media (max-width: 575.98px) {
  //    margin-left: 0;
  //  }
  //  @media (min-width: 575.98px) {
  //    margin-left: 20px;
  //  }
  //  margin-right: 10px;
  //  min-height: 46px;
  //  padding: 14px 20px;
  //  z-index: 100;
  //  background-color: @color-blue;
  //  font-size: 13px;
  //  font-weight: 1000;
  //  border-radius: 10px;
  //  transition-duration: 200ms;
  //  border-left: 6px solid #9da8b2;
  //  color: white;
  //  text-transform: uppercase;
  //  min-width: 110px;
  //}
  //
  //.button_event:hover {
  //  background-color: @color-blue;
  //  color: #9da8b2;
  //}


.countdown_container {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15) !important; /* Add text shadow */
  margin-top: 0; /* Remove any default margin above the countdown */
  width: 210px;
  float: right;

  /*@media (min-width: 575.98px) {
  }
  @media (max-width: 575.98px) {
    width: 80%;
    text-align: right;
  }*/
}

ul#countdown {
  margin: 0;
  padding-inline-start: 0;
  //box-shadow: 0 0 2px 1px #9da8b2;
  //border-radius: 10px;
  //background: #1a1f4a;
  //border-left: 6px solid #9da8b2;
  //border-top: 1px solid #1a1f4a;
  //border-bottom: 1px solid #1a1f4a;
  //overflow: hidden;

  li {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 22%;
    min-height: 36px;

    .label-c {
      font-size: 18px;
      text-transform: uppercase;
    }

    .number {
      font-size: 20px;
    }
  }
}

.opening_hour_message {
  background: whitesmoke;
  padding: 10px;
  border-left: 8px solid @color-yellow;
  margin: 20px 0 10px;
  box-shadow: 0 0 8px 1px #d3d3d3;
}

@media (max-width: 576px) {
  .vtk-hometitle {
    font-size: 40px;
  }

  .vtk-home-titleDecoration {
    border-bottom: 15px solid @color-yellow; 
    margin-top: -15px; 
  }

  .frame-item,
  .calendar-item {
    background-color: whitesmoke;
    padding: 10px;
  }

  .vtk-home-subtitle {
    font-size: 20px; 
    font-weight: 500; 
  }

  .home-menu-category {
    width: 100%; 
    margin-right: 0px; 
  }
}
