// Text elements

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: "Assistant";
  color: @color-blue;
  font-weight: 700;
  margin-top: 0px;
}

a {
  font-family: "Open Sans";
  color: @color-blue;
}

a:hover {
  color: @color-blue;
  text-decoration: none;
}

// Buttons

button {
  background-color: @color-blue;
  border: none;
  color: white;
  font-family: "Open Sans";
  padding: 6px 10px;
}

button.yellow {
  background-color: @color-yellow;
  font-weight: 600;
}

button.yellow.unfilled {
  background-color: transparent;
  border: 1px solid @color-yellow;
  color: @color-blue;
  font-weight: 500;
}

button.white.unfilled {
  background-color: transparent;
  border: 1px solid white;
}

button.white.unfilled:hover {
  background-color: white;
  color: @color-blue;
}

// Alerts

.alert {
  font-family: "Open sans";
  background-color: @color-blue;
  border: none;
  font-size: 14px;
  width: 100%;
  font-weight: 500;
}

// ...
