.vtk-home-header {
  width: 100%;
  height: ~"calc(100vh - 135px)";
  padding: 15px;
}

.vtk-home-image {
    // background:
    background: linear-gradient(0deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.2) 35%,
    rgba(0, 0, 0, 0) 80%),
      // url(https://images.pexels.com/photos/167699/pexels-photo-167699.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    url(../img/Home_vtk.jpg);
    background-position: 50% 80%;
    background-size: cover;
    width: 100%;
    height: 100%;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.vtk-textspan {
  color: @color-yellow;
}

.vtk-home-technical {
  background: linear-gradient(
      0deg,
      rgba(240, 240, 240, 0.8),
      rgba(240, 240, 240, 0.8)
    ),
    url(../_site/img/technisch_pattern.png);
  background-position: 60% 20%;
  background-size: 65%;
  padding: 75px 0px;
}

.vtk-home-br {
  padding: 160px 0px;
  background: linear-gradient(
      0deg,
      rgba(50, 50, 50, 0.6),
      rgba(50, 50, 50, 0.6)
    ),
    url(../_site/img/br-bg.png);
  background-position: center;
  background-size: cover;
}

.menuitems-flexbox {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menulink {
  margin-bottom: 17px;
}

.category-title:hover {
  color: @color-yellow
}

.calendar-button {
  padding: 10px 25px;
  font-size: 18px;
  font-family: "Assistant";
  font-weight: 600;
  background-color: @color-blue;
  color: white;
}

.calendar-button:hover {
  color: white;
}

.DELETE-BGIMAGE {
  height: 200px;
  //background-image: url(https://picsum.photos/400);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.frame-grid,
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.container.calendarHolder {
  position: relative; 
  padding: 20px 15px;
  margin-top: -75px; 
  margin-bottom: 50px
}

.frame-item,
.calendar-item {
  background-color: whitesmoke; 
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.frame-item-tekst,
.calendar-item-tekst {
  padding: 30px 20px 40px 20px; 
  flex-grow: 1; 
}

.frame-emptyfill,
.calendar-emptyfill {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.vtk-hometitle {
  color: white; 
  font-size: 95px;
  margin-bottom: 0px;
  font-weight: 700; 
  font-family: 'Open Sans';
  text-transform: uppercase; 
  position: relative; 
  z-index: 10; 
}

.vtk-home-titleDecoration {
  width: 80%; 
  border-bottom: 25px solid @color-yellow; 
  margin: auto; 
  margin-top: -30px; 
  opacity: 0.8; 
}


.vtk-home-tekstholder {
  // background-color: rgba(26, 31, 74, 0.5); 
  background-color: rgba(255, 255, 255, 0.6); 
  border-left: 8px solid @color-yellow; 
  padding: 20px;
  margin-bottom: -30px; 
  padding-bottom: 150px; 
  display: inline-block; 
}

.home-menu-category {
  margin-right: 40px; 
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .vtk-hometitle {
    font-size: 75px;
  }

  .menuitems-flexbox {
    justify-content: flex-start;
    -ms-flex-line-pack: flex-start;
  }

  .frame-grid,
  .calendar-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-row-gap: 50px;
  }

  .container.calendarHolder {
    margin-top: 15px; 
  }
}

@media (max-width: 576px) {
  .vtk-hometitle {
    font-size: 40px;
  }

  .vtk-home-titleDecoration {
    border-bottom: 15px solid @color-yellow; 
    margin-top: -15px; 
  }

  .frame-item,
  .calendar-item {
    background-color: whitesmoke;
    padding: 10px;
  }

  .vtk-home-subtitle {
    font-size: 20px; 
    font-weight: 500; 
  }

  .home-menu-category {
    width: 100%; 
    margin-right: 0px; 
  }
}
