{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'page/admin/frame/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#languages a:first').click();

            $('select.link_to').closest('.row').hide();
            $('select#link_to_' + {{ category_page_id }}).closest('.row').show();

        });
    </script>
{% endblock %}
