{% extends 'career/partials/layout.twig' %}

{% block page_content %}

    <div class="container">

        <div style="height: 40px"></div>

        <h1>{{ translate('Matching Platform') }}</h1>
        <strong>&nbsp;{{ translate('Find yourself a company match!') }}</strong>
        <div style="height: 20px"></div>
        <a class="btn btn-success" href="{{ url('br_career_match', {'action': 'overview'}) }}" >{{ translate('Start Matching!') }}</a>
    </div>

{% endblock %}
