{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'common/admin/academic/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>

    {% if hasAccess('common_admin_academic', 'activate') %}
        <aside>
            <div class="sidebox">
                <div class="title">Send Activation</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to send an activation code to the person!</i>
                    </p>
                    <p>
                        <a href="{{ url('common_admin_academic', {"action": "activate", "id": academic.getId()}) }}">&rarr; Send Activation</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#primary_address_address_city').change(cityChange);
            cityChange();
        });

        function cityChange() {
            var city = $('#primary_address_address_city option:selected').val();
            $('.primary_address_address_street, #primary_address_address_number, #primary_address_address_mailbox, #primary_address_address_postal_other, #primary_address_address_city_other, #primary_address_address_street_other').closest('.row').hide();
            if (city != 0)
                $('#primary_address_address_street_' + city + ',#primary_address_address_postal_' + city + ',#primary_address_address_city_' + city + ', #primary_address_address_number, #primary_address_address_mailbox').closest('.row').show();
        }
    </script>
{% endblock %}
