{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'common/admin/academic/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>

    {% if hasAccess('common_admin_academic', 'activate') %}
        <aside>
            <div class="sidebox">
                <div class="title">Send Activation</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to send an activation code to the person!</i>
                    </p>
                    <p>
                        <a href="{{ url('common_admin_academic', {"action": "activate", "id": academic.getId()}) }}">&rarr; Send Activation</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.city').change(cityChange);
            cityChange();
        });

        function cityChange() {
            var city = $('.city option:selected').val();

            $('.street, .number, .mailbox')
                .closest('.row')
                    .hide();
            $('.other')
                .hide();

            if (city == 'other') {
                $('.other')
                    .show();
                $('.number, .mailbox')
                    .closest('.row')
                        .show();
            } else if (city !== '') {
                $('.mailbox, .number, .street-' + city)
                    .closest('.row')
                        .show();
            }
        }
    </script>
{% endblock %}
