{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'common/admin/academic/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>

    {% if hasAccess('common_admin_academic', 'activate') %}
        <aside>
            <div class="sidebox">
                <div class="title">Send Activation</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to send an activation code to the person!</i>
                    </p>
                    <p>
                        <a href="{{ url('common_admin_academic', {"action": "activate", "id": academic.getId()}) }}">&rarr; Send Activation</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.city').change(cityChange);
            cityChange();
        });

        function cityChange() {
            var $primaryAddress = $('.primary-address');

            var city = $primaryAddress
                .find('.city option:selected')
                .val();

            $primaryAddress
                .find('.other')
                    .hide()
                .end()
                .find('.street, .number, .mailbox')
                    .closest('.row')
                        .hide();

            if (city === 'other') {
                $primaryAddress
                    .find('.other')
                        .show()
                    .end()
                    .find('.number, .mailbox')
                        .closest('.row')
                            .show();
            } else if (city != 0) {
                $primaryAddress
                    .find('.street-' + city + ', .number, .mailbox')
                        .closest('.row')
                            .show();
            }
        }
    </script>
{% endblock %}
