{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'common/admin/unit/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {{ form(form) }}
    </div>
{% endblock %}
