{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'common/admin/unit/partials/navigation.twig' %}

    {% include 'common/admin/unit/partials/manage-years.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}
