{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_sales_financial/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	
	{% include 'admin_sales_financial/partials/suppliers.twig' %}

	<div id="controller_action">
	    <h1>Deliveries</h1>
	    
	    <table class="full_width">
	    	
	    	    <tr>
	    	        <th>Article</th>
	    	        <th width="170px">Number</th>
	    	        <th width="170px">Unit Value</th>
	    	        <th width="170px">Total Value</th>
	    	    </tr>
	    	    
	    	    {% for delivery in paginator %}
	    	        <tr>
	    	            <td>{{ delivery.getArticle().getMainArticle().getTitle() }}</td>
	    	            <td>{{ delivery.getNumber() }}</td>
	    	            <td>&euro; {{ (delivery.getArticle().getPurchasePrice()/100)|number_format(2) }}</td>
	    	            <td>&euro; {{ (delivery.getPrice()/100)|number_format(2) }}</td>
	    	        </tr>
	    	    {% endfor %}
	    	</table>
	    	
	    	{% include 'admin/partials/paginationControl.twig' %}
	    </div>
	</div>
{% endblock %}
