<header id="controller_header">
    <div class="title"><span class="mail">Volunteer Mail</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('mail_admin_mail_volunteer', 'send') %}
                <li><a{% if 'send' == getParam('action') %} class="active" {% endif %} href="{{ url('mail_admin_mail_volunteer', {'action': 'send'}) }}">Volunteer</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
