{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'quiz/admin/round/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>{{ quiz.getName() }}: Add round</h1>
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}
