<header id="controller_sub_header">
	<nav id="controller_sub_nav">
        <ul id="supplier_nav">
            {% for period in periods %}
                <li><a {% if period.getStartDate() == activePeriod.getStartDate() %} class="active" {% endif %}href="{{ url("admin_sales_booking", {"action": "manage", "period": period.getId()}) }}">{{ period.getStartDate().format('M \'y') }} : {% if period.isOpen() %}Now{% else %}{{ period.getEndDate().format('M \'y') }}{% endif %}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>