/**
 * Variables
 *
 * Copyright 2011 Litus
 *
 * Author: Kristof Mariën <kristof.marien@litus.cc>
 */

// Colors
@cBlack:     #000;
@cWhite:     #fff;
@cGray:      #ccc;

@cSupplierDark:  #7D0608;
@cSupplierLight: #9F090A;