{% extends 'site/base.twig' %}

{% block content %}

    {# Script for dropdown functionality  #}
    {{ inlineScript() }}

    <div class="container">

        <div class="pageTitleHolder">
            <h1>{{ categoryPage.getCategory().getName(language) }}</h1>
            <div class="pageTitleDeco"></div>
        </div>
        <div class="spacer40"></div>

        <div>Big Frames:
            {% for result in big_frames %}
                {% set frame = result.frame %}
                <div>{{ frame.getTitle(language) }}</div>
            {% endfor %}
        </div>
        <div>Small Frames:
            {% for result in small_frames %}
                {% set frame = result.frame %}
                <div>{{ frame.getTitle(language) }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}