{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'prom/admin/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Entries</h1>

        {% import 'admin/partials/form.twig' as forms %}
        <h2>Add Academic</h2>
        {{ forms.renderForm(academicForm) }}

        <h2>Add External</h2>
        {{ forms.renderForm(externalForm) }}
    </div>
{% endblock %}

{% block content_script %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#person').typeaheadRemote(
            {
                source: '{{ url('common_admin_academic_typeahead', {})}}',
                items: 20,
            }
        ).change(function (e) {
            if ($(this).data('value')) {
                $('[name="person[id]"]').val($(this).data('value').id);
            } else {
                $('[name="person[id]"]').val('');
            }
        });
    });
</script>
{% endblock %}
