RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^!www.vtk.be
RewriteCond %{HTTP_HOST} ^(.*)\.vtk\.be
RewriteRule ^(.*)$ http://vtk.be/%1/$1 [NC]

RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^!www.vtk.be
RewriteCond %{HTTP_HOST} ^(.*)\.vtk\.be
RewriteRule ^(.*)$ https://vtk.be/%1/$1 [NC]

RewriteRule ^.*$ index.php [NC,L]
