{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Registration') }}</h1>
    </div>

    {% include 'secretary/registration/partials/navigation.twig' %}

    <div class="row page" id="studies">
        <div class="span12">
        </div>
    </div>
{% endblock %}