<header id="controller_header">
    <div class="title"><span class="stock">Inventory</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('logistics_admin_article', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('logistics_admin_article', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('logistics_admin_article', 'csv') %}
                <li><a {% if 'csv' == getParam('action') %} class="active" {% endif %} href="{{ url("logistics_admin_article", {"action": "csv"}) }}">Csv import</a></li>
            {% endif %}
            {% if hasAccess('logistics_admin_article', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('logistics_admin_article', {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>