<header id="controller_header">
    <div class="title"><span class="financial">Financial</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('admin_sales_financial', 'sales') %}
                <li><a {% if 'sales' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_sales_financial', {"action": "sales"}) }}">Sales</a></li>
            {% endif %}
            {% if hasAccess('admin_sales_financial', 'stock') %}
                <li><a {% if 'stock' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_sales_financial', {"action": "stock"}) }}">Stock</a></li>
            {% endif %}
            {% if hasAccess('admin_sales_financial', 'suppliers') %}
                <li><a {% if 'suppliers' == getParam('action') or 'deliveries' == getParam('action') or 'retours' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_sales_financial', {"action": "suppliers"}) }}">Suppliers</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
