// Variables
//
// Author: Kristof Mariën <kristof.marien@litus.cc>
// Author: Pieter Maene <pieter.maene@litus.cc>

$sale-dark:  #004D9F;
$sale-light: #049cd9;

$zindex-fixed: 1070;

$jumbotron-padding: 1.25rem;
