/**
* Layout
*
* Copyright 2011 Litus
*
* Author: Kristof Mariën <kristof.marien@litus.cc>
* Author: Pieter Maene <pieter.maene@litus.cc>
*/

body {
    background: #252525;
}

header {
    .verticalGradient(@cHeaderDark, @cHeaderLight);
    margin-bottom: 15px;

    h1 {
        color: @white;
        text-shadow: 0 1px 1px rgba(0,0,0,.3);
        padding: 10px 0 20px 20px;
    }

    .headingIcon {
        float: left;
        margin: 10px 20px 0 20px;
        height: 35px;
    }

    .inner {
        background: transparent url(/_site/img/grid-18px.png) top center;
        padding: 45px 0 10px 0;
        .box-shadow(inset 0 10px 30px rgba(0,0,0,.3));
    }

    .carousel {
        img {
            width: 940px;
            height: 100px;
        }
    }
}

@media (min-width: 1200px) {

    // Fixed grid
    #grid > .core(@gridColumnWidth, @gridGutterWidth);

    // Fluid grid
    #grid > .fluid(@fluidGridColumnWidth, @fluidGridGutterWidth);

    // Input grid
    #grid > .input(@gridColumnWidth, @gridGutterWidth);

    // Thumbnails
    .thumbnails {
        margin-left: -@gridGutterWidth;
    }
    .thumbnails > li {
        margin-left: @gridGutterWidth;
    }
    .row-fluid .thumbnails {
        margin-left: 0;
    }

}


@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
}

.main-navbar {
    .container {
        //width: 940px;
    }

    .title {
        float: left;
        padding: 8px 20px 12px;
        font-size: 20px;
        font-weight: 200;
        line-height: 1;
        color: @white;

        &:hover {
            text-decoration: none;
        }
    }

    .btn-navbar {
        .buttonBackground(@navbarBackgroundHighlight, @navbarBackground);
    }

    .auth-nav {
        #accountDropdown {
            .profile-wrapper {
                height: 18px;
                display: block;
                position: relative;
                float: left;
            }

            .profile {
                margin: 0 4px 0 0;
                background: transparent url(/_site/img/profile.png) 0 0;
                display: inline-block;
                width: 20px;
                height: 20px;
            }

            &:hover,
            &.open {
                .profile {
                    background-position: 0 -30px;
                }
            }

            .fullName {
                display: block;
            }

            .metadata {
                display: block;
                font-size: 12px;
                color: @cGray;
            }
        }
    }
}

.main-navbar-fixed-top {
    margin: 0px !important;
}

.main-navbar-inner {
    min-height: @navbarHeight;
    padding-left:  20px;
    padding-right: 20px;
    background-color: @navbarBackgroundHighlight;
    background-image: none;
    .border-radius(0px);
    .box-shadow(~"0 1px 3px rgba(0,0,0,.25)");
}

.main-navbar .nav > li > a {
    float: none;
    @elementHeight: 20px;
    padding: ((@navbarHeight - @elementHeight) / 2) + 2 10px ((@navbarHeight - @elementHeight) / 2) - 1;
    line-height: 19px;
    color: @navbarLinkColor;
    text-decoration: none;
    text-shadow: none !important;

    &.highlighted {
        @elementHeight: 28px;
        @elementMargin: 4px;
        padding: ((@navbarHeight - @elementHeight - @elementMargin) / 2) + 2 10px ((@navbarHeight - @elementHeight) / 2) - 1;
        margin: @elementMargin 10px 0 0;
        line-height: 19px;
        color: @navbarLinkColorActive;
        background-color: @navbarLinkBackgroundActive;
        .border-radius(4px);
        border: 1px solid @grayLight;
    }
}

.main-navbar .nav > li.open > a {
    color: @navbarLinkColorActive;
}

.main-navbar .nav > li > a:hover {
    background-color: @navbarLinkBackgroundHover;
    color: @navbarLinkColorHover;
    text-decoration: none;
}

.main-navbar .nav li.dropdown .dropdown-toggle .caret,
.main-navbar .nav li.dropdown.open .caret {
    border-top-color: @navbarLinkColorActive;
    border-bottom-color: @navbarLinkColorActive;
}

.carousel-control {
    top: 50%;
}

#page {
    background: #fff;
    padding-bottom: 30px;

    .siteLogo {
        float: left;
        margin: 7px 20px 0 20px;
        height: 41px;
    }

    .siteName {
        margin: 0px;
    }

    #content {
        padding: 0 40px;

        .container {
            padding: 20px 0px;
            margin: 0 auto;
        }

        .headingIcon {
            float: left;
            margin: 17px 10px 0 0;
            opacity: .8;
        }

        .headingSpacer {
            margin: 10px;
        }

        .item {
            margin-top: 10px;
            position: relative;

            min-height: 75px;

            blockquote {
                padding-right: 5px;
            }

            .date {
                position: absolute;

                text-transform: uppercase;
                width: auto !important;
                display: inline-block;

                margin: 0;
                font-family: @headingsFontFamily;
                font-weight: @headingsFontWeight;
                font-size: 18px;
                color: @headingsColor;
                text-rendering: optimizelegibility;

                &.left {
                    width: 100px !important;
                    text-align: right;
                    margin-left: -120px !important;

                    .rotate(-90deg);
                    .rotate-origin(100% 0%);
                }

                &.right {
                    width: 100px !important;
                    margin-top: 26px;
                    margin-right: -120px !important;
                    right: 0;

                    .rotate(90deg);
                    .rotate-origin(0% 0%);
                }
            }
        }

        .page-header {
            margin-bottom: 18px;
        }

        .login-container {
            width: 224px;
            margin: 0 auto;
            padding: 10px;

            input[type="checkbox"],
            label {
                margin: 0;
            }

            a.btn {
                color: #fff;
            }

            .remember_me {
                float: left;
                margin-top: 8px;
            }
        }

        .accordion-heading {
            a {
                padding: 5px 15px;
                height: 27px;
                line-height: 27px;

                span {
                    height: 27px;
                }
            }
        }
    }

    p {
        text-align: justify;
    }
}

.page {
    h1 {
        font-size: 30px;
        line-height: 40px;
    }
    h2 {
        font-size: 24px;
        line-height: 34px;
    }
    h3 {
        font-size: 18px;
        line-height: 28px;
    }
    h4 {
        font-size: 14px;
        line-height: 24px;
    }
    h5 {
        font-size: 12px;
        line-height: 22px;
    }
    h6 {
        font-size: 11px;
        line-height: 21px;
    }
}

footer {
    margin-bottom: 20px;
    color: #fff;

    .light {
        margin-bottom: 10px;
        padding: 16px 0 16px 0;
        background: #333;
    }

    .container {
        padding: 0 20px;
        color: @headingsColor;

        .title {
            font-family: @headingsFontFamily;
            font-weight: @headingsFontWeight;
            font-size: 18px;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .1);

            color: @black;

            line-height: 40px;
        }

        .social {
            float: right;

            img {
                height: 32px;
            }
        }
    }
}

.hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid @grayLighter;
    .clearfix();
}

fieldset .control-group:first-child {
    padding-top: 20px;
}

.flashmessage.fade {
    .transition(all .15s linear);
    height: 0;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    border: 0;

    &.in {
        height: auto;
        margin-bottom: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
        border: 1px;
    }
}

.disabled {
    cursor: not-allowed;
}

.dl-horizontal {
    &.wide {
        dt {
            width: 250px;
        }
        dd {
            margin-left: 270px;
        }
    }
}