/**
 * Variables
 *
 * Copyright 2011 Litus
 *
 * Author: Kristof Mariën <kristof.marien@litus.cc>
 */
 
// Colors
@cGray:		 					#ccc;
@cWhite:     					#fff;
@cHeaderDark: 					#22325a;
@cHeaderLight: 					#121b35;

@grayDarker:            		#222;
@grayDark:              		#333;
@gray:                  		#555;
@grayMiddleLight:       		#888;
@grayLight:             		#bbb;
@grayMiddleLighter:     		#ddd;
@grayLighter:           		#eee;

// Fonts
@headingsFontFamily: 			"Helvetica Neue", Helvetica, Arial, sans-serif;
@headingsFontWeight:    		bold;
@headingsColor:         		#333;

// Navigation Bar
@navbarHeight:                  40px;
@navbarBackground:              @grayMiddleLighter;
@navbarBackgroundHighlight:     @grayLighter;

@navbarText:                    @gray;
@navbarLinkColor:               @gray;
@navbarLinkColorHover:          @grayMiddleLight;
@navbarLinkColorActive:         @grayMiddleLight;
@navbarLinkBackgroundHover:     transparent;
@navbarLinkBackgroundActive:    @navbarBackground;

// Mixins
.verticalGradient(@startColor: #555, @endColor: #333) {
	background-color: mix(@startColor, @endColor, 60%);
	background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
	background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
	background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
	background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
	background-image: linear-gradient(top, @startColor, @endColor); // The standard
	background-repeat: repeat-x;
	filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)", @startColor, @endColor)); // IE9 and down
}

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

.rotate(@degrees) {
   -webkit-transform: rotate(@degrees);
      -moz-transform: rotate(@degrees);
       -ms-transform: rotate(@degrees);
        -o-transform: rotate(@degrees);
           transform: rotate(@degrees);
}

.buttonBackground(@startColor, @endColor) {
  // gradientBar will set the background to a pleasing blend of these, to support IE<=9
  .gradientBar(@startColor, @endColor);

  // in these cases the gradient won't cover the background, so we override
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    background-color: @endColor;
  }

  // IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
  &:active,
  &.active {
    background-color: darken(@endColor, 10%) e("\9");
  }
}

.gradientBar(@primaryColor, @secondaryColor) {
  .verticalGradient(@primaryColor, @secondaryColor);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}