{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/match/partials/navigation.twig' %}
    {% include 'br/admin/match/wave/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}


    <div id="controller_action">
        <h1>View Wave</h1>
        <h2><b>Name: </b>{{ wave.getName() }}</h2>
        <div style="height: 30px"></div>

        {% for res in result %}
            <h2><b>Company: </b>{{ res.company }}</h2>
            <table class="full_width">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Match Rating</th>
                    </tr>
                </thead>

                <tbody>
                {% for match in res.matches %}
                    <tr class="item">
                        <td>{{ match.getStudent().getFullName() }}</td>
                        <td>{{ match.getMatchPercentage() }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>

{% endblock %}