{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'syllabus/admin/study/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'syllabus/admin/study/partials/years.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        var currentCount = 0;
        $(document).ready(function () {
            while ($('input[name="module_groups[' + (currentCount) + '][module_group]"]').length) {
                currentCount++;
                enableTypeahead(currentCount);
            }

            if (currentCount == 0)
                addModuleGroup();
            else
                $('input[name="module_groups[' + (currentCount - 1) + '][module_group]"]').keyup(triggerKeyUp);
        });

        function triggerKeyUp() {
            if ($(this).val().length > 0) {
                $(this).unbind('keyup');
                addModuleGroup();
            }
        }

        function addModuleGroup() {
            var template = $('#data-template-module_groups').data('template');
            template = template.replace(/__index__/g, currentCount);
            currentCount++;

            $('form > fieldset#module_groups').append(template);
            $('input[name="module_groups[' + (currentCount - 1) + '][module_group]"]').keyup(triggerKeyUp);

            enableTypeahead(currentCount);
        }

        function enableTypeahead(i) {
            $('#module_groups\\[' + (i - 1) + '\\]\\[module_group\\]').typeaheadRemote(
                {
                    source: '{{ url('syllabus_admin_study_module_group_typeahead')}}',
                    items: 30,
                }
            ).change(function (e) {
                var field = $(this).closest('.row').parent().find('input[type=hidden]');
                if ($(this).data('value')) {
                    field.val($(this).data('value').id);
                    addModuleGroup();
                } else {
                    field.val('');
                }
            });
        }
    </script>
{% endblock %}
