{% extends 'career/partials/layout.twig' %}

{% block page_content %}

    <h1>{{ translate('Home') }}</h1>

    <p>
        {{ translate('Welcome to the online BR platform! Here you can find interesting job or internship offers, check out the latest event info or just explore what kind of companies are out there.') }}
    </p>

    <p>
        {{ translate('So just look around and you might just find what you are looking for!') }}
    </p>



{% endblock %}