<header id="controller_header">
    <div class="title"><span class="companies">Companies</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('admin_company', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_company', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('admin_company', 'manage') %}
                <li>
                	<a 
                		{% if 'manage' == getParam('action') or 'edit' == getParam('action') %} class="active" {% endif %} 
                		href="{{ url('admin_company', {"action": "manage"}) }}"
                	>
                		Manage
                	</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
