<header id="controller_header">
    <div class="title"><span class="product">MATCHING SOFTWARE</span></div>
    <nav id="controller_nav">
        <ul>
            {% if hasAccess('br_admin_match_wave', 'manage') %}
                <li><a {% if 'br_admin_match_wave' == getParam('controller') %} class="active" {% endif %} href="{{ url('br_admin_match_wave', {"action": "manage"}) }}">Waves</a></li>
            {% endif %}
            {% if hasAccess('br_admin_match_profile', 'manage') %}
                <li><a {% if 'br_admin_match_profile' == getParam('controller') %} class="active" {% endif %} href="{{ url('br_admin_match_profile', {"action": "manage"}) }}">Profiles</a></li>
            {% endif %}
            {% if hasAccess('br_admin_match_feature', 'manage') %}
                <li><a {% if 'br_admin_match_feature' == getParam('controller') %} class="active" {% endif %} href="{{ url('br_admin_match_feature', {"action": "manage"}) }}">Features</a></li>
            {% endif %}
            {% if hasAccess('br_admin_match_match', 'manage') %}
                <li><a {% if 'br_admin_match_match' == getParam('controller') %} class="active" {% endif %} href="{{ url('br_admin_match_match', {"action": "manage"}) }}">Matches</a></li>
            {% endif %}
        </ul>
    </nav>
</header>