{% extends 'shop/base-consume.twig' %}

{% block content %}
    <div class="container modal-body">
        {% import 'site/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
        {% if noEntity != null %}
            <div class="flashmessage alert alert-danger " id="ticket_sale_consume_error" >
                <a class="close" data-dismiss="alert">&times;</a>
                <div class="content">
                    <h2>Geen broodjes gevonden voor deze persoon!</h2>
                </div>
            </div>
        {%  endif %}
        {% if reservation != null %}
            <div class="content">
                {{ dump(reservation) }}
                Broodje(s) voor {{ reservation.getPerson().getFirstName() }}:
            </div>
        {%  endif %}
    </div>

{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function (){
            document.getElementById('username').focus();
            $('#username').keydown( function(e) {
                if (e.key === 'Enter') {
                    e.preventDefault()
                    document.getElementById('amount').focus();
                }
            });
        });
    </script>
{% endblock %}
