{% extends 'site/base.twig' %}

{% block content %}

    <div class="page-header">
        <h1>{{ shopName }}</h1>
    </div>

    {% include 'shop/shop/partials/navigation.twig' %}
    <div style="text-align: justify;">
        {% if canReserve %}
            {{ translate("You can reserve some items from the shop. Be aware that you might lose the permission to reserve items if you don't come and buy your reserved items on the right date.") }}
        {% else %}
            {{ translate("You cannot reserve items from the shop. This privilege might require you to do some shifts in the shop.") }}
        {% endif %}
    </div>

{% endblock %}
