{% extends 'site/base.twig' %}

{% block content %}

    <div class="page-header">
        <h1>{{ translate('Reserve') }}</h1>
    </div>

    {% include 'shop/shop/partials/navigation.twig' %}

    <div style="text-align: justify;">
        {% if canReserve %}
            {{ translate("On this page you can make a reservation in the shop.") }}
        {% else %}
            {{ translate("You cannot reserve items from the shop. This privilege might require you to do some shifts in the shop.") }}
        {% endif %}
    </div>

{% endblock %}

{% block content_script %}
    <script type="text/javascript">
    </script>
{% endblock %}
