{% extends 'corporate/partials/internship.twig' %}

{% block content %}
    <h1>{{ translate('Internship') }}</h1>
    {% import 'site/partials/form.twig' as forms %}
    {{ forms.renderForm(form) }}
{% endblock %}
