<header id="controller_sub_header">
    <nav id="controller_sub_nav">
        <ul>
            {% for academicYear in academicYears %}
                <li><a {% if academicYear.getCode() == currentAcademicYear.getCode() %} class="active" {% endif %}href="{{ url("syllabus_admin_group", {"action": "manage", "academicyear": academicYear.getCode()}) }}">{{ academicYear.getCode() }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
