{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Archive') }}</h1>
    </div>

    <div class="row page">
        <div class="span12">
            <ul class="thumbnails">
                {% for publication in publications %}
                    <li>
                        <center>
                            <a class="thumbnail span2" style="height: 70px;line-height: 70px" href="{{ url('archive', { 'action': 'year', 'publication': publication.getId() }) }}">{{ publication.getTitle() }}</a>
                        </center>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}