{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sale/article/partials/navigation_templates.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>Discount Template</h1>
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

