{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_news/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">	
		{% autoescape false %}
		    {{ form }}
		{% endautoescape %}
	</div>
{% endblock %}

{% block controller_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#languages a:first').click();
        });
    </script>
{% endblock %}