<header class="controller_sub_header">
    <nav class="controller_sub_nav">
        <ul>
            {% if hasAccess('cudi_admin_sales_financial_sold', 'individual') %}
                <li><a {% if 'individual' == getParam('action') %} class="active" {% endif %}href="{{ url("cudi_admin_sales_financial_sold", {"action": "individual", "academicyear": activeAcademicYear.getCode()}) }}">Individual</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_financial_sold', 'sessions') %}
                <li><a {% if 'sessions' == getParam('action') or 'session' == getParam('action') %} class="active" {% endif %}href="{{ url("cudi_admin_sales_financial_sold", {"action": "sessions", "academicyear": activeAcademicYear.getCode()}) }}">Sale Sessions</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_financial_sold', 'articles') %}
                <li><a {% if 'articles' == getParam('action') or 'article' == getParam('action') %} class="active" {% endif %}href="{{ url("cudi_admin_sales_financial_sold", {"action": "articles", "academicyear": activeAcademicYear.getCode()}) }}">Articles</a></li>
            {% endif %}
            {% if hasAccess('cudi_admin_sales_financial_sold', 'suppliers') %}
                <li><a {% if 'suppliers' == getParam('action') or 'supplier' == getParam('action') %} class="active" {% endif %}href="{{ url("cudi_admin_sales_financial_sold", {"action": "suppliers", "academicyear": activeAcademicYear.getCode()}) }}">Suppliers</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
