<header class="controller_sub_header">
    <nav class="controller_sub_nav">
        <ul>
            {% for academicYear in academicYears %}
                <li><a {% if academicYear.getCode() == activeAcademicYear.getCode() %} class="active" {% endif %}href="{{ url("cudi_admin_sales_financial_sold", {"action": getParam('action'), "id": getParam('id'), "academicyear": academicYear.getCode()}) }}">{{ academicYear.getCode() }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
