<header id="controller_header">
    <div class="title"><span class="article">Articles</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('admin', 'article', 'new') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_article', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('admin', 'article', 'manager') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_article', {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>