{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'publication/admin/edition/pdf/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}
    <div class="flashmessage error_message full_width file_upload_error hide">
        <div class="title">Error</div>
        <div class="content">
            <p>An error occurred while uploading the file.</p>
        </div>
    </div>

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>

    <div class="modal hide fade" id="progressModal">
        <div class="modal-header">
            <span>Litus Admin</span>
            /Upload Pdf
        </div>
        <div class="modal-body">
            <p>
                Your files are being uploaded.
            </p>
            <p>
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
                </div>
            </p>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#uploadFile').formUploadProgress({
                onProgress: function (data) {
                    $('#progressModal').find('.bar').width(((data.current / data.total) * 100) + '%');
                },
                onSubmitted: function (data) {
                    if (data == undefined) {
                        $('.flashmessage').addClass('hide');
                        $('.file_upload_error').removeClass('hide');
                    } else if (data.errors) {
                        $('.flashmessage').addClass('hide');
                        $('.file_upload_error').removeClass('hide');
                        $('#uploadFile').find('ul.errors').remove();
                        for(element in data.errors) {
                            var list = $('<ul>', {class: 'errors'})
                            for (error in data.errors[element])
                                list.append($('<li>').html(data.errors[element][error]));
                            $('#uploadFile').find('#' + element).parent().parent().after(list);
                        }
                    } else if (data.info) {
                        window.location.href = '{{ url('publication_admin_edition_pdf', {'action': 'manage', 'id': publication.getId()}) }}';
                    }
                    var progressModal = $('#progressModal');
                    progressModal.permanentModal('hide');
                },
                onSubmit: function () {
                    $('.flashmessage').addClass('hide');
                    var progressModal = $('#progressModal');
                    progressModal.find('.bar').width('100%');
                    progressModal.permanentModal('open');
                },
                onError: function () {
                    $('.flashmessage').addClass('hide');
                    $('.file_upload_error').removeClass('hide');
                    var progressModal = $('#progressModal');
                    progressModal.permanentModal('hide');
                }
            });
        });
    </script>
{% endblock %}
