{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_stock/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	
	{% include 'admin_order/partials/suppliers.twig' %}

	<div id="controller_action">
		{% autoescape false %}
			{{ form }}
		{% endautoescape %}
	</div>
{% endblock %}