{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_stock/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	
	<div id="controller_action">
		<table>
		
		    <tr>
		        <th>Name</th>
				<th width="200px">Actions</th>
		    </tr>
		    
		    {% for supplier in paginator %}
		        <tr>
		            <td>{{ supplier.getName() }}</td>
					<td>
					    {% if hasAccess('admin_order', 'supplier') %}
						    <a href="{{ url('admin_order', {"action": "supplier", "id": supplier.getId()}) }}" class="view">View</a>
						{% endif %}
					</td>
		        </tr>
		    {% endfor %}
		</table>
	</div>
	
	<aside>
	    {% if hasAccess('admin_order', 'add') %}
    		<div class="sidebox">
    	        <div class="title">New Order</div>
    	        <div class="content">
    	            <p>
    	                <i>Please hit the link below to add a new order item!</i>
    	            </p>
    	            <p>
    	                <a href="{{ url('admin_order', {"action": "add"}) }}">&rarr; Add Order Item</a>
    	            </p>
    	        </div>
    	    </div>
    	{% endif %}
	</aside>
{% endblock %}