<?php

return array(
    'relational' => array(
        'host'     => 'localhost',
        'port'     => 5432,
        'user'     => 'litus',
        'password' => 'huQeyU8te3aXusaz',
        'dbname'   => 'litus',
    ),
);
