<?php

$serializer = Redis::SERIALIZER_PHP;
if (extension_loaded('igbinary')) {
    $serializer = Redis::SERIALIZER_IGBINARY;
}

$libOptions = array(
    Redis::OPT_SERIALIZER => $serializer,
);

return array(
    'host'           => '',
    'port'           => 6379,
    'timeout'        => null,
    'persistent_id'  => '',
    'password'       => '',
    'database'       => 0,
    'channel_prefix' => null,
    'lib_options'    => $libOptions,
);
