<?php

return array(
    'dsn'     => 'https://ce2f6669047d456d96b2e0f4ae21688a@o918793.ingest.sentry.io/5862403',
    'options' => array(
        'name'     => gethostname(),
        'app_path' => '',
    ),
);
