<header id="controller_header">
    <div class="title"><span class="profile">Matching Profiles</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('br_admin_match_profile', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_match_profile', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('br_admin_match_profile', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_match_profile', {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
