<header id="controller_header">
    <div class="title">
        <i class="fas fa-cogs"></i> Configuration
    </div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('common_admin_config', 'manage') %}
                <li>
                    <a {% if 'manage' == getParam('action') or 'edit' == getParam('action') %}class="active"{% endif %} href="{{ url('common_admin_config', {"action": "manage"}) }}">Manage</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
