{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_company_internship/partials/navigation.twig' %}
	
	<div id="controller_action">
	    <h1>Company</h1>
	    <p>Name: <b>{{ company.getName() }}</b></p>
	    <br />
	
	    {% autoescape false %}
	    	{{ form }}
	    {% endautoescape %}
	</div>
{% endblock %}
