{% extends 'site/base.twig' %}

{% block content %}
    <div class="container">
        <div class="pageTitleHolder">
            <h3>{{ event.getActivity().getTitle(language) }}</h3>
            <div class="pageTitleDeco"></div>
        </div>
        <div class="spacer10"></div>

        <a class="button blue unfilled" href="{{ url('ticket',{'action': 'event', 'rand_id': event.getRandId()}) }}">← {{ translate('Return to the event information') }}</a>

        <div style="height: 5px"></div>

        {% if late%}
            <h2>{{ translate('Your ticket has expired. Please book a new ticket!') }}</h2>
        {% endif %}
    </div>
{% endblock %}