<header id="controller_header">
    <div class="title"><span class="mail">Stored Messages</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('mail_admin_message', 'manage') %}
                <li><a {% if 'manage' == getParam('action') or 'edit' == getParam('action') %} class="active" {% endif %} href="{{ url("mail_admin_message", {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
