{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/contract/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">

        <div style="border-bottom: 1px solid grey; padding-bottom: 10px; padding-bottom: 10px;">
            <h1><b>Language:</b> {{ lang }}</h1>
            <h4>Switch the language by pressing the button on the right side!</h4>
        </div>

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}

    </div>

    <aside>
        <div class="sidebox">
            <div class="title">Variables</div>
            <div class="content">
                <p>
                    <i>These variables may be used in the text and will be substituted with their appropriate values.</i>
                </p>

                <p>
                    <i>Company Name:</i> <br />
                    &lt;company_name/&gt;
                </p>

                <p>
                    <i>Date:</i> <br />
                    &lt;date/&gt;
                </p>

                <p>
                    <i>Euro Sign:</i> <br />
                    &lt;euro/&gt;
                </p>

                <p>
                    <i>Total price (per vat type):</i> <br />
                    &lt;total_price/&gt;
                </p>

                <p>
                    <i>Payment Days:</i> <br />
                    &lt;payment_days/&gt;
                </p>

                <p>
                    <i>Quantity of Orderer Product:</i> <br />
                    &lt;amount /&gt;
                </p>
            </div>
        </div>

        <div class="sidebox">
            <div class="title">Formatting</div>
            <div class="content">
                <p>
                    <i>When you may also use the following tags to format text.</i>
                </p>

                <p>
                    <b>&lt;b&gt;Bold:&lt;/b&gt;</b> <br />
                    <i>&lt;i&gt;Italic:&lt;/i&gt;</i> <br />
                    <u>&lt;u&gt;Underline:&lt;/u&gt;</u>
                </p>
            </div>
        </div>
        <div class="sidebox">
            <div class="title">Switch Language</div>
            <div class="content">
                <p>
                    <i>Please hit the link below to switch language!</i>
                </p>
                <p>
                    <a href="{{ url('br_admin_contract', {"action": "edit", "id": contract.getId(), "language": notLang}) }}">&rarr;
                        Change Language</a>
                </p>
            </div>
        </div>
    </aside>
{% endblock %}
