{% extends 'moderate/base.twig' %}

{% block content %}
    <header class="subhead">
        <h1>{{ quiz.getName() }}</h1>
    </header>
    <table id="results" class="table table-bordered">
        <tr class="head">
            <th class="rank">Rank</th>
            <th class="team">Team</th>
            <th class="total">Total</th>
        </tr>
        {% for teamid,total in total_points %}
            <tr>
                <td class="rank">{{ loop.index }}</td>
                <td class="team">{{ teams[teamid].getName() }}</td>
                <td class="total">{{ total }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block content_script %}
    <script>
        $('#results tr:not(.head)').hide();
        $(document).keyup(function (e) {
            if (e.keyCode == 37 || e.keyCode == 38) {
                $('#results tr:not(.head):visible:first').hide();
                e.preventDefault();
            } else if (e.keyCode == 39 || e.keyCode == 40) {
                $('#results tr:not(.head):visible:first').removeClass('alert');
                $('#results tr:hidden:last').addClass('alert').show();
                e.preventDefault();
            }
        });
    </script>
{% endblock %}
