{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ translate('Account') }}<small>&mdash; {{ translate('Subjects') }}</small></h1>
    </div>

    {% include 'common/account/partials/navigation.twig' %}

    <div class="row page">
        <div class="span12">
        </div>
    </div>
{% endblock %}