{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_mail_prof/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}

    <h1>Mail Prof Start Cudi</h1>
    
	<div id="controller_action">
	    <p>The following mail will be send to the profs of semester {{ semester }}:<p>
	    <br />
	    <p>
	        <b>Subject:</b>
	        <pre style="border: 1px solid #ccc;margin: 5px;padding: 5px;background: #ddd;word-break: normal;">{{ subject }}</pre>
	    </p>
	    <br />
	    <p>
	        <b>Body:</b>
	        <pre style="border: 1px solid #ccc;margin: 5px;padding: 5px;background: #ddd;word-break: normal;">{{ mail }}</pre>
	    </p>
	    {% if hasAccess('admin_mail_prof', 'send') %}
	        {% autoescape false %}
    	        {{ form }}
    	    {% endautoescape %}
	    {% endif %}
	</div>
{% endblock %}