{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_mail_prof/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}
	
	<div id="controller_action">    
	    <div class="flashmessage warning_message full_width">
	    	<div class="title">Warning</div>
	    	<div class="content">
	    	    The following mail will be sent to all the professors who have a course in the <b>{% if 1 == semester %} first {% else %} second {% endif %}</b> semester.
	    	</div>
	    </div>
	    <p>
	        <b>Subject:</b>
	        <pre style="border: 1px solid #ccc;margin: 5px;padding: 5px;background: #ddd;word-break: normal;">{{ subject }}</pre>
	    </p>
	    <br />
	    <p>
	        <b>Body:</b>
	        <pre style="border: 1px solid #ccc;margin: 5px;padding: 5px;background: #ddd;word-break: normal;">{{ mail }}</pre>
	    </p>
	    {% if hasAccess('admin_mail_prof', 'send') %}
	        {% autoescape false %}
    	        {{ form }}
    	    {% endautoescape %}
	    {% endif %}
	</div>
{% endblock %}