{% for flashMessage in flashMessenger %}
	<div class="flashmessage {{ flashMessage.getType() }} full_width">
		<div class="title">{{ flashMessage.getTitle() }}</div>
		<div class="content">
			<p>{{ flashMessage.getMessage() }}</p>
		</div>
	</div>
{% endfor %}