{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'publication/admin/edition/pdf/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">

		{% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}

    </div>

	<div class="modal hide fade" id="progressModal">
		<div class="modal-header">
			<span>Litus Admin</span>
			/Upload Pdf
		</div>
		<div class="modal-body">
			<p>
				Your files are being uploaded.
			</p>
			<p>
				<div class="progress progress-striped active">
				    <div class="bar" style="width: 100%;"></div>
				</div>
			</p>
		</div>
	</div>
{% endblock %}