{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ page.getTitle(language) }}</h1>
    </div>

    <div id="controller_action">
        <p>Fill in the form below to order your ISIC card for {{price}}!</p>
        <p>Once your card is available, you will receive an email and come pick it up at our bookstore.</p>
        <p>Note that you cannot cancel your order after you hit the order button!</p>
        {% import 'site/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}