{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ page.getTitle(language) }}</h1>
    </div>

    {% if status == 'success' %}
    {% autoescape false %}
	        {{ info|json_encode }}
	    {% endautoescape %}
	{% elseif status == 'noauth' %}
		<p>{{translate('You do not have permission to view this page! Make sure you are logged in.')}}</p>
	{% else %}
		<p>Something went wrong with your order.</p>
	    {% autoescape false %}
	        {{ form|json_encode }}
	    {% endautoescape %}
	{% endif %}
{% endblock %}