{% extends 'admin/base.twig' %}

{% block content %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div class="flashmessage success_message full_width">
		<div class="title">Some Title</div>
		<div class="content">
			<p>The message is being flashed.</p>
		</div>
	</div>

	<div id="controller_action">
    </div>
{% endblock %}
