{% extends 'admin/base.twig' %}

{% block content %}
	<header id="controller_header">
	    <div class="title"><span class="dashboard">Dashboard</span></div>
	</header>
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
	    <p>
	        
	    </p>
	</div>
	
	<aside>
	    <div class="sidebox">
	        <div class="title">Versions</div>
	        <div class="content">
	            <b>ZendFramework</b><br />
	            {{ ZFVersion }}
	        </div>
	    </div>
	</aside>
{% endblock %}