<div class="progress">
    <div class="bar" style="width: {{ group.getFormNumber(specification)/group.getForms()|length*100 }}%;">{{ group.getFormNumber(specification) }}/{{ group.getForms()|length }}</div>
</div>