{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_company/partials/navigation.twig' %}
	
	<div id="controller_action">
	    {% autoescape false %}
	    	{{ form }}
	    {% endautoescape %}
	</div>
    
    <aside>
        {% if hasAccess('admin_company', 'logo') %}
            <div class="sidebox">
                <div class="title">Edit Logo</div>
               	<div class="content">
                	<p>
                    	<i>Please hit the link below to edit the logo of this company!</i>
                    </p>
                    <p>
                       	<a href="{{ url('admin_company', {"action": "logo", "id": company.getId()}) }}">&rarr; Edit Logo</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>
{% endblock %}
