{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'syllabus/admin/group/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'syllabus/admin/group/partials/years.twig' %}

    <div id="controller_action">
        <table class="full_width manage">
            <tr>
                <th>Name</th>
                <th width="100px">CV Book</th>
                <th width="100px">Students</th>
                <th width="70px">Actions</th>
            </tr>

            {% for group in paginator %}
                <tr class="item">
                    <td>{{ group.getName() }}</td>
                    <td>{% if group.getCvBook() %}X{% endif %}</td>
                    <td>{{ group.getNbStudents(currentAcademicYear) }}</td>
                    <td class="actions">
                        {% if hasAccess('syllabus_admin_group', 'edit') %}
                            <a href="{{ url('syllabus_admin_group', {'action': 'edit', 'id': group.getId(), 'academicyear': currentAcademicYear.getCode()}) }}" class="edit">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% include 'admin/partials/paginationControl.twig' %}
    </div>
{% endblock %}