{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/company/partials/navigation.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {

            $('textarea#description').gollum({
                uploadURL: '{{ url('br_admin_company', {'action': 'upload'}) }}',
            });
        });

    </script>
{% endblock %}
