/**
 * Layout
 *
 * Copyright 2011 Litus
 *
 * Author: Kristof Mariën <kristof.marien@litus.cc>
 */
 
 body {
 }
 
 header {
 	padding-top: 40px;
 	.verticalGradient(@cSaleDark, @cSaleLight);
 	margin-bottom: 15px;
 	
 	h1 {
	 	color: @cWhite;
	 	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	 }
 	
 	.inner {
 		background: transparent url(/_cudi/img/grid-18px.png) top center;
 		padding: 45px 0;
 		.box-shadow(inset 0 10px 30px rgba(0,0,0,.3));
 	}
 }
 
 .navbar {
 	z-index: 2000;
 
 	.brand {
 		padding: 3px 20px 5px;
 	}
 }
 
 footer {
	 margin-top: 45px;
	 padding: 35px 10px 36px;
	 border-top: 1px solid #E5E5E5;
	 color: #555;
	 
	 .development_information {
		float: right;
	 }
 }
 
 .alert .title {
 	font-weight: bold;
 }
 
 .flashmessage.fade {
   .transition(all .15s linear);
   height: 0;
   margin-bottom: 0px;
   padding-top: 0px;
   padding-bottom: 0px;
   overflow: hidden;
   &.in {
     height: auto;
     margin-bottom: 18px;
     padding-top: 8px;
     padding-bottom: 8px;
   }
 }
 
 #queueModal {
 	width: @queueModalWidth;
 	margin-left: -@queueModalWidth / 2;
 	
 	.table {
 		.number {
 			width: 50px;
 		}
 		
 		.name {
 			width: 330px;
 		}
 		
 		.status {
 			width: 120px;
 		}
 		
 		.actions {
 			width: 200px;
 			
 			.hold {
 				float: right;
 			}
 		}
 		
 		thead {
 			display: block;
 		}
 		
 		tbody {
 			max-height: 300px;
 			overflow: auto;
 			display: block;
 			
 			.actions {
 				padding: 3px 8px;
 			}
 		}
 	}
 }
 
 #sale {
 	.table {
 		thead {
 			.actions {
 				width: 130px;
 			}
 		}
 		
 		tbody {
 			.actions {
 				padding: 3px 8px;
 				
 				.removeArticle {
 					float: right;
 				}
 			}
 			
 			tr.inactive {
 				color: @cGray;
 			}
 		}
 	}
 	
 	.wrapper {
 		margin-bottom: 10px;
 		
 		.money {
 			font-weight: bold;
 			text-align: right;
 			
 			.total {
 				font-size: 55px;
 				line-height: 80px;
 			}
 		}
 		
 		.custumer {
 			.title {
 				margin: 0 0 10px 0;
 			}
 			
 			.name {
 				font-size: 30px;
 				line-height: 30px;
 				font-weight: bold;
 				margin: 0 0 10px 30px;
 			}
 			
 			.actions {
 				margin: 0;
 			}
 		}
 	}
 }