{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_sales_session/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		{% autoescape false %}
			{{ form }}
		{% endautoescape %}
	</div>
{% endblock %}
