{% extends 'site/base.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{% if group %}{{ group.getTitle(language) }}: {% endif %}{{ specification.getTitle(language) }}</h1>
    </div>

    {% if group %}
        {% include 'form/form/partials/group-progress.twig' %}
    {% endif %}

    {% autoescape false %}
        {{ markdown(specification.getIntroduction(language)) }}
    {% endautoescape %}

    <hr/>

    {% if formClosed %}
        <div class="alert alert-warning">
            {{ translate('This form is currently closed.') }}
        </div>
    {% endif %}


{% endblock %}
