{% extends 'prof/base.twig' %}

{% block content %}
    <div class="row">
    	<div class="span9 columns">
    	    fsdfa
    	</div>
    	<div class="span3 columns">
    	    {% if hasAccess('prof_comment', 'manage') %}
        	    <h3>Comments</h3>
        	    <p>View comments on this article and add one.</p>
        	    <p><a href="{{ url("prof_comment", {"action": "manage", "id": article.getId()}) }}" class="btn">Comments</a></p>
        	{% endif %}
    	    {% if hasAccess('prof_file', 'manage') %}
        	    <h3>Files</h3>
        	    <p>Manage the files of this article.</p>
        	    <p><a href="{{ url("prof_file", {"action": "manage", "id": article.getId()}) }}" class="btn">Files</a></p>
        	{% endif %}
    	</div>
    </div>
{% endblock %}