<header id="controller_header">
    <div class="title"><span class="mail">Bakske Mail</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('admin_mail_bakske', 'send') %}
                <li><a{% if 'send' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_mail_bakske', {'action': 'send'}) }}">Bakske</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
