{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'shift/admin/counter/partials/navigation.twig' %}

    <div id="controller_action">
        <div id="shift_counter_search">
            <div style="padding: 4px; text-align: right;">
                Search:
                <select id="searchField">
                    <option value="university_identification">University Identification</option>
                    <option value="name">Name</option>
                </select>
                is
                <input type="text" id="searchString" size="30" />
            </div>

            <table class="full_width manage">
                <tr>
                    <th width="200px">University Identification</th>
                    <th>Name</th>
                    <th width="120px">Count</th>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#searchString').focus();
            {% if hasAccess('admin_shift_counter', 'search') %}
            $.searchDatabase({
                searchString: $('#searchString'),
                searchField: $('#searchField'),
                url: '{{ url('admin_shift_counter', {'action': 'search', 'academicyear': activeAcademicYear.getCode()}) }}',
                display: function (data) {
                    $('#shift_counter_search table').find('tr.item').remove();
                    $(data).each(function () {
                        $('#shift_counter_search table').append(row = $('<tr>', {class: 'item item-' + this.id}));
                        row.append('<td>' + this.universityIdentification + '</td>')
                            .append('<td>' + this.name + '</td>')
                            .append('<td>' + this.count + '</td>');
                    });
                    $('#shift_counter_search table').change();
                },
                clear: function () {
                    $('#shift_counter_search table').find('tr.item').remove();
                }
            });
            {% endif %}
        });
    </script>
{% endblock %}
