<header id="controller_header">
    <div class="title"><span class="stock">Inventory</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('logistics_inventory', 'index') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('logistics_inventory', {"action": "index"}) }}">Overview</a></li>
            {% endif %}
            {% if hasAccess('logistics_inventory', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('logistics_inventory', {"action": "add"}) }}">Add/Subtract</a></li>
            {% endif %}
        </ul>
    </nav>
</header>