{% extends 'corporate/base.twig' %}

{% block content %}
    Dear participant of the VTK Jobfair,<br><br>

To complete your participation at our Jobfair, we kindly request to fill out the forms below so that we can provide you with optimal service. Not all forms have to be filled out at once as you can can continue your process where you left off. Every form has its own deadline though:<br><br>

<ul>
<li>Equipment Jobfair Booth before 30 January 2015</li>
<li>Jobfair Platform Files before 20 February 2015</li>
</ul>


If you have any more requests, questions or encounter issues filling out this form, please contact us at corporaterelations@vtk.be .<br><br>

VTK Corporate Relations wishes you a successful recruiting event!<br><br>

VTK Corporate Relations<br><br>

<a href="http://vtk.be/en/form/index/4058/">Click here for the Equipment Jobfair booth form</a><br>

<a href="http://vtk.be/en/form/index/4060/">Click here for the Jobfair Platform Files form</a>
{% endblock %}
