{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'calendar/admin/calendar/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    {% if hasAccess('calendar_admin_calendar', 'template') %}
        <aside>
            <div class="sidebox" style="margin-top: 35px">
                <div class="title">Cantus template</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to add a Waaiberg cantus from the template! This ensures all shifts are made automatically.</i>
                    </p>
                    <p>
                        <a href="{{ url('calendar_admin_calendar', {"action": "template"}) }}">&rarr; Template</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}

    <div id="controller_action">
        <h1 style="color: darkred; font-size: 18px; margin-bottom: 10px;margin-top: 10px">Please don't use emoji's in the calendar as some emoji's break the calendar at https://vtk.be/nl/calendar/</h1>
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#languages a:first').click();
        });

        $(document).ready(function () {
            $('textarea').gollum({
                toolbar: {
                    "bold": ["bold", "Bold", "bold"],
                    "italic": ["italic", "Italic", "italic"],
                    "divider": "-",
                    "link": ["link", "Link", "link"],
                    "divider": "-",
                    "ul": ["ul", "Unordered List", "u-list"],
                    "ol": ["ol", "Ordered List", "o-list"],
                    "blockquote": ["blockquote", "Blockquote", "quotemark"],
                    "hr": ["hr", "Horizontal Rule", "horizontal-rule"],
                    "divider": "-",
                    "help": ["help", "Help", "help"],
                },
            });
        });
    </script>
{% endblock %}
