{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'mail/admin/group/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
        <h1>{{ type|capitalize }}: {{ status }}</h1>

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#send_mail').click(function () {
                if ($(this).prop('disabled'))
                    return false;

                $(this).prop('disabled', true);
                $(this).css('color', '#ccc');

                $this = $(this);
                setTimeout(function () {
                    $this.closest('form').submit();
                }, 10);
            });
        });
    </script>
{% endblock %}
