div.centerscreen {

    display:block;

    /*set the div in the center of the screen*/
    position:absolute;
    top:40%;
    left:35%;
    width:350px;

    background-color: #fff;
}

h3.signin {
    font-size: 120%;
    line-height: 20%;
    text-indent: 20%;
}

div.success_message{width:598px;margin:0 5px 10px 0;}
div.success_message .title{display:block;height:20px;line-height:20px;text-indent:9px;text-transform:uppercase;font-size:10px;font-weight:bold;color:#ffffff;background:#218621;}
div.success_message .content{padding:5px;color:#ffffff;background:#007400;}
div.success_message .content p{margin-top:10px;}
div.success_message .content p:first-child{margin-top:0;}
div.error_message{width:598px;margin:0 5px 10px 0;}
div.error_message .title{display:block;height:20px;line-height:20px;text-indent:9px;text-transform:uppercase;font-size:10px;font-weight:bold;color:#ffffff;background:#ff0000;}
div.error_message .content{padding:5px;color:#ffffff;background:#df0000;}
div.error_message .content p{margin-top:10px;}
div.error_message .content p a{margin-right:5px;text-decoration:none;font-weight:bold;color:inherit;}
div.error_message .content p a:hover{text-decoration:underline;}
div.error_message .content p:first-child{margin-top:0;}
div.warning_message{width:598px;margin:0 5px 10px 0;}
div.warning_message .title{display:block;height:20px;line-height:20px;text-indent:9px;text-transform:uppercase;font-size:10px;font-weight:bold;color:#ffffff;background:#ffa800;}
div.warning_message .content{padding:5px;color:#ffffff;background:#f89406;}
div.warning_message .content p{margin-top:10px;}
div.warning_message .content p a{margin-right:5px;text-decoration:none;font-weight:bold;color:inherit;}
div.warning_message .content p a:hover{text-decoration:underline;}
div.warning_message .content p:first-child{margin-top:0;}
div.notice_message{width:598px;margin:0 5px 10px 0;}
div.notice_message .title{display:block;height:20px;line-height:20px;text-indent:9px;text-transform:uppercase;font-size:10px;font-weight:bold;color:#ffffff;background:#94defc;}
div.notice_message .content{padding:5px;color:#ffffff;background:#62cffc;}
div.notice_message .content p{margin-top:10px;}
div.notice_message .content p a{margin-right:5px;text-decoration:none;font-weight:bold;color:inherit;}
div.notice_message .content p a:hover{text-decoration:underline;}
div.notice_message .content p:first-child{margin-top:0;}
