<header id="controller_header">
    <div class="title"><span class="financial">Financial</span></div>
 
    <nav id="controller_nav">
        <ul>
        	{% if hasAccess('admin', 'financial', 'sales') %}
                <li><a {% if 'sales' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_financial', {"action": "sales"}) }}">Sales</a></li>
                <li><a {% if 'stock' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_financial', {"action": "stock"}) }}">Stock</a></li>
                <li><a {% if 'supply' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_financial', {"action": "supply"}) }}">Supply</a></li>
			{% endif %}
        </ul>
    </nav>
</header>
