{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'mail/admin/volunteer/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
	    <div class="flashmessage warning_message full_width">
	    	<div class="title">Warning</div>
	    	<div class="content">
	    	    This mail will be sent to everyone who has done enough shifts to be named volunteer.
	    	</div>
	    </div>

	    {% if hasAccess('mail_admin_volunteer', 'send') %}
	        {% import 'admin/partials/form.twig' as forms %}
	        {{ forms.renderForm(form) }}
	    {% endif %}
	</div>
{% endblock %}
