{% extends 'site/base.twig' %}
{% block content %}
    <div class="row-fluid page">
        <div class="span12">
            <div class="page-header">
                <h1>{{ translate('CV Book') }}</h1>
            </div>

            {% import 'site/partials/form.twig' as forms %}
            {{ forms.renderForm(form) }}
        </div>
    </div>
{% endblock %}