{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <ul class="thumbnails">
        {% for page in pages %}
            <li class="span2">
                <a style="text-decoration:none;" href="{{ url('career_company', {'action': 'view', 'company': page.getCompany().getSlug() }) }}" class="thumbnail">
                    <img src="{{ url('admin_company', {'action': 'logo', 'id': page.getCompany().getLogo()}) }}" alt="{{ page.getCompany().getName() }}">

                <center>
                    <span class="company_name">
                        {{ page.getCompany().getName() }}
                    </span>
                </center>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}