<header id="controller_header">
    <div class="title"><span class="study">Subjects</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('syllabus_admin_subject_comment', 'manage') %}
                <li><a {% if 'syllabus_admin_subject_comment' == getParam('controller') %} class="active" {% endif %} href="{{ url('syllabus_admin_subject_comment') }}">Comments</a></li>
            {% endif %}
            {% if hasAccess('syllabus_admin_subject', 'manage') %}
                <li><a {% if 'syllabus_admin_subject' == getParam('controller') %} class="active" {% endif %} href="{{ url('syllabus_admin_subject') }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
