{% extends 'career/partials/layout.twig' %}

{% block page_content %}
    <div class="container">

        <div class="pageTitleHolder">
            <h1>{{ event.getTitle(language) }}: Register</h1>
            <div class="pageTitleDeco"></div>
        </div>
        <div class="spacer40"></div>

        <a class="button blue unfilled" href="{{ url('br_career_event',{ 'action': 'view', 'id': event.getId() }) }}">← {{ translate('Return to the Event Information') }}</a>

        <div style="height: 100px"></div>
        {# TODO: Add subtitle #}

        <div class="container" id="subscriberForm">
            {% import 'site/partials/form.twig' as forms %}
            {{ forms.renderForm(form) }}
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#university").change(function () {
                if ($(this).val() == "other"){
                    $("#other_university").removeProp("disabled");
                } else {
                    $("#other_university").prop("disabled", true);
                }
            });

            $("#study").change(function () {
                if ($(this).val() == "other"){
                    $("#other_study").removeProp("disabled");
                } else {
                    $("#other_study").prop("disabled", true);
                }
            });

            
        });
    </script>
{% endblock %}
