<header id="controller_header">
    <div class="title"><span class="sale">Sales</span></div>
 
    <nav id="controller_nav">
        <ul>
        	{% if hasAccess('admin_sale', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_sale', {"action": "add"}) }}">New</a></li>
			{% endif %}
        	{% if hasAccess('admin_sale', 'manage') %}
                <li><a {% if 'manage' == getParam('action') or 'edit' == getParam('action') or 'editRegister' == getParam('action') or 'close' == getParam('action') %} class="active" {% endif %} href="{{ url('admin_sale', {"action": "manage"}) }}">Manage</a></li>
			{% endif %}
        </ul>
    </nav>
</header>