{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'form/admin/form/partials/navigation.twig' %}

	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
	    <h1>Form</h1>

	    <p>Name: <b>{{ formSpecification.getTitle(language) }}</b></p>
	    <br />

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
	</div>

    <aside>
        {% if hasAccess('form_admin_form', 'edit') %}
            <div class="sidebox">
                <div class="title">Edit Form</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to edit the form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_admin_form', {"action": "edit", "id": formSpecification.getId() }) }}">&rarr; Edit Form</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>
{% endblock %}

{% block content_script %}
	<script type="text/javascript">
        $(document).ready(function () {
            $('#languages a:first').click();
            $('#timeslot_languages a:first').click();
            $('#type').change(toggleType);
            toggleType();

            $('#visible_if').change(function () {
                if ($(this).find('option:selected').data('type') == 'string') {
                    $('#visible_value').html('').closest('.row').show();
                    $('#visible_value').html('').append(
                        $('<option>', {'value': 1}).html('Not Empty')
                    );
                } else if ($(this).find('option:selected').data('type') == 'dropdown') {
                    $('#visible_value').html('').closest('.row').show();
                    var values = $(this).find('option:selected').data('values').split(',');
                    $(values).each(function () {
                        $('#visible_value').append($('<option>').html(this));
                    });
                    $('#visible_value').val($('#visible_value').data('current_value'));
                } else if ($(this).find('option:selected').data('type') == 'checkbox') {
                    $('#visible_value').html('').append(
                        $('<option>', {'value': 1}).html('Checked'),
                        $('<option>', {'value': 0}).html('Unchecked')
                    ).closest('.row').show();
                    $('#visible_value').val($('#visible_value').data('current_value'));
                } else {
                    $('#visible_value').html('').closest('.row').hide();
                }
            }).trigger('change');
        });

        function toggleType() {
            $('.extra_form').addClass('hide');
            $('.' + $('#type').val() + '_form').removeClass('hide');

            if ($('#type').val() == 'timeslot') {
                $('.field_label').closest('.row').hide();
                $('form #required, form #order').closest('.row').hide();
                $('#visibility').hide();
                $('#languages').hide();
            }
        }
    </script>
{% endblock %}