<ul class="nav nav-tabs">
        <li class="pull-right">
            <a style="margin-right: 10px;" class="{% if getParam('action') == 'overview' %} activeTab {% else %} tab {% endif %}" href="{{ url('br_career_match', {'action': 'overview'}) }}">
                {{ translate("All Matches") }}
            </a>
        </li>
    {% if hasAccess('br_career_match', 'waves') %}
        {% for w in allWaves %}
            <li>

                <a {% if loop.first %}style="margin-left: 10px;"{% endif%} class="{% if getParam('action') == 'waves' and getParam('wave') == w.getId() %} activeTab {% else %} tab {% endif %}" href="{{ url('br_career_match', {'action': 'waves', 'wave': w.getId()}) }}">
                    {{ w.getName() }}
                </a>
            </li>
        {% endfor %}
    {% endif %}
</ul>
