<header id="controller_header">
    <div class="title"><span class="mail">Working Group Members</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('secretary_admin_working_group', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url("secretary_admin_working_group", {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
