{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'admin/partials/flashMessenger.twig' %}

    {% include 'secretary/admin/registration/partials/navigation.twig' %}

    {% include 'secretary/admin/registration/partials/years.twig' %}

    {% include 'secretary/admin/registration/partials/organizations.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#personSearch').typeaheadRemote(
                {
                    source: '{{ url("common_admin_academic_typeahead")}}',
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    $('#personId').val($(this).data('value').id);
                } else {
                    $('#personId').val('');
                }
            });
        });
    </script>
{% endblock %}
