{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'br/admin/order/partials/navigation.twig' %}

    <div id="controller_action">
        {% include 'admin/partials/flashMessenger.twig' %}

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#company').change(function(){
                var company = $('#company').val();

                $('.company_contact').closest('.row').hide();
                $('#company_contact_' + company).closest('.row').show();
            }).change();
        });
    </script>
{% endblock %}
