{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'gallery/admin/gallery/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        <h1>{{ album.getTitle(language) }}</h1>
        <input type="file" id="uploader" class="uk-input" data-uploadUrl="{{ url("gallery_admin_gallery", {"action": "upload", "id": album.getId()}) }}" name="file" multiple>
    </div>

    {% if hasAccess('gallery_admin_gallery', 'photos') %}
        <aside>
            <div class="sidebox">
                <div class="title">Manage Photo's</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage photo's of album!</i>
                    </p>
                    <p>
                        <a href="{{ url('gallery_admin_gallery', {"action": "photos", "id": album.getId()}) }}">&rarr; Manage Photo's</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#uploader').uploadKit({
                uploadUrl: '{{ url("gallery_admin_gallery", {"action": "upload", "id": album.getId()}) }}',
                isMultiple: true,
                swfUrl: '',
                silverlightUrl: '',
                errorFileSize: 'File size exceeds limit',
                errorUnknown: 'Unknown error occurred',
                infoMultiple: '<h1>No Files Selected</h1><h2>Browse for files to upload or drag and drop them here</h2>',
                infoNotMultiple: '<h1>No File Selected</h1><h2>Browse for file to upload or drag and drop them here</h2>',
                runtimes: 'html5,flash',
                fileColumnTitle: 'File Name',
                sizeColumnTitle: 'Size',
                progressColumnTitle: 'Progress',
                browseLabel: 'Browse...',
                uploadLabel: 'Upload',
                removeLabel: 'Remove',
                filters : [{title : "Image files", extensions : "jpeg,jpg"}],
                maxFileSize: '5mb',
            });
        });
    </script>
{% endblock %}
