{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'cudi/admin/sale/financial/partials/navigation.twig' %}

    {% include 'cudi/admin/sale/financial/partials/years.twig' %}


    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        
    </div>
{% endblock %}