{% extends 'sale/base.twig' %}

{% block content %}
    <div class="alert alert-primary d-none" id="returnMessage">
        You have to return this person <b class="price"></b>.
    </div>
    <div class="alert alert-danger d-none" id="returnErrorMessage">
        An error occured while requesting the price. This person possibly never bought this article.
    </div>

    <div id="form_container">
        {{ form(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        var previousReturnRequest = '';

        $(document).ready(function () {
            $('[name="person[value]"]').keyup(function (e) {
                clearPrice();
            }).typeaheadRemote({
                source: '{{ url("common_admin_academic_typeahead")}}',
            }).change(function (e) {
                if ($(this).data('value')) {
                    $('[name="person[id]"]').val($(this).data('value').id);
                    searchPrice();
                } else {
                    $('[name="person[id]"]').val('');
                    clearPrice();
                }
            });

            $('[name="article[value]"]').keyup(function (e) {
                clearPrice();
            }).typeaheadRemote({
                source: '{{ url("cudi_admin_sales_article_typeahead", {"academicyear": currentAcademicYear.getCode() })}}',
            }).change(function (e) {
                if ($(this).data('value')) {
                    $('[name="article[id]"]').val($(this).data('value').id);
                    searchPrice();
                } else {
                    $('[name="article[id]"]').val('');
                    clearPrice();
                }
            });
        });

        function searchPrice() {
            if (previousReturnRequest != $('[name="article[id]"]').val() + '_' + $('[name="person[id]"]')) {
                clearPrice();
            }

            {% if hasAccess('cudi_sale_sale', 'returnPrice') %}
                if ($('[name="article[id]"]').val() != '' && $('[name="person[id]"]') != '') {
                    $('#form_container form').ajaxSubmit({
                        url: '{{ url('cudi_sale_sale', {'action': 'returnPrice', "session": session.getId()}) }}',
                        success: function (data) {
                            if (data !== undefined && data.price) {
                                previousReturnRequest = $('[name="article[id]"]').val() + '_' + $('[name="person[id]"]');

                                $('#returnMessage .price').html('&euro; ' + (data.price/100).toFixed(2));
                                $('#returnMessage').addClass('fade show').removeClass('d-none');

                                $('#returnErrorMessage').addClass('d-none').removeClass('fade show');
                            } else {
                                clearPrice();
                                $('#returnErrorMessage').addClass('fade show').removeClass('d-none');
                            }
                        },
                        error: function(a, b, c) {
                            clearPrice();
                            $('#returnErrorMessage').addClass('fade show').removeClass('d-none');
                        },
                        dataType: 'json'
                    });
                }
            {% endif %}
        }

        function clearPrice() {
            $('#returnErrorMessage').addClass('d-none').removeClass('fade show');
            $('#returnMessage').addClass('d-none').removeClass('fade show');
        }
    </script>
{% endblock %}
