<header id="controller_header">
    <div class="title"><span class="event">Company: {{ eventCompanyMap.getCompany().getName() }}</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('br_admin_event_company', 'edit') %}
                <li><a {% if 'edit' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_event_company', {"action": "edit", "event": event.getId(), 'id': eventCompanyMap.getId()}) }}">Edit Event</a></li>
            {% endif %}
            {% if hasAccess('br_admin_event_company', 'attendee') %}
                <li><a {% if 'addAttendee' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_event_company', {"action": "addAttendee", "event": event.getId(), 'id': eventCompanyMap.getId()}) }}">Attendees</a></li>
            {% endif %}
        </ul>
    </nav>
</header>