<header id="controller_header">
    <div class="title"><span class="event">Corporate Relations Event</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('br_admin_event', 'edit') %}
                <li><a {% if 'edit' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_event', {"action": "edit", "id": event.getId()}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('br_admin_event', 'old') %}
                <li><a {% if 'old' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_event', {'action': 'old'}) }}">Old</a></li>
            {% endif %}
            {% if hasAccess('br_admin_event', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{  url('br_admin_event', {'action': 'manage' }) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
