<header id="controller_header">
    <div class="title">Corporate Relations Events</div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('br_admin_event', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_event', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('br_admin_event', 'old') %}
                <li><a {% if 'old' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_event', {"action": "old"}) }}">Old</a></li>
            {% endif %}
            {% if hasAccess('br_admin_event', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('br_admin_event', {"action": "manage"}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
