{% extends 'prom/base.twig' %}

{% block content %}
    <div class="page-header">
        Choose the bus(es) you want to take and submit your reservation.
    </div>

    <div class="flashmessage alert alert-warning" id="warning_email">
        {{ translate('Be sure the submitted email address you enter is correct!  This address will be used with the corresponding code to edit your registration!') }}
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2 id="registration">New Registration</h2>
            {% import 'site/partials/form.twig' as forms %}
            {{ forms.renderForm(addForm) }}
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
