{% extends 'registration/base.twig' %}

{% block content %}
    <div class="page-header">
        <p><b>Choose your the bus you want to take and submit your reservation.</b></p>
    </div>
{% endblock %}