{% extends 'prom/base.twig' %}

{% block content %}
    <div class="page-header">
        Choose your the bus you want to take and submit your reservation.
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>Manage Registration</h2>
            {% import 'site/partials/form.twig' as forms %}
            {{ forms.renderForm(editForm) }}
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
