{% extends 'registration/base.twig' %}

{% block content %}
    <div class="page-header">
        <p><b>Choose your the bus you want to take and submit your reservation.</b></p>
    </div>
    <div class="flashmessage alert alert-danger fade" id="no_seats_left">
        <a class="close">&times;</a>
        {{ translate('There are no seats left in one of the buses you selected.') }}
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-10">
    		<h2>Manage Registration</h2>
    		{% import 'site/partials/form.twig' as forms %}
            {{ forms.renderForm(editForm) }}
    	</div>
    	<div class="col-md-3"></div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            if ('no_seats_left' == '{{ status }}') {
                $('#no_seats_left').addClass('in');
                setTimeout(function () {$('.flashmessage').removeClass('in')}, 10000);
            }
        });
    </script>
{% endblock %}
