{% extends 'registration/base.twig' %}

{% block content %}
    <div class="row">
    	<div class="col-md-6">
    		<h2>New Registration</h2>
    	</div>
    	<div class="col-md-6">
    		<h2>Manage Registration</h2>
    	</div>
    </div>
{% endblock %}