/**
 * Variables
 *
 * Copyright 2011 Litus
 *
 * Author: Kristof Mariën <kristof.marien@litus.cc>
 */

// Colors
@cBlack:     #000;
@cWhite:     #fff;
@cGray:      #ccc;

@cRunDark:   #a20b5d;
@cRunLight:  #d70d7a;