<header id="controller_header">
    <div class="title"><span class="gallery">Gallery</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('gallery_admin_gallery', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('gallery_admin_gallery', {"action": "add"}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('gallery_admin_gallery', 'manage') %}
                <li>
                    <a
                        {% if 'manage' == getParam('action') or 'edit' == getParam('action') %} class="active" {% endif %}
                        href="{{ url('gallery_admin_gallery', {"action": "manage"}) }}"
                    >
                        Manage
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
