{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'logistics/admin/order/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    {% if hasAccess('logistics_admin_order', 'articles') %}
        <aside>
            <div class="sidebox">
                <div class="title">Manage Articles</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage the articles of this order!</i>
                    </p>
                    <p>
                        <a href="{{ url('logistics_admin_order', {'action': 'articles', 'id': order.getId()}) }}">&rarr; Manage Articles</a>
                    </p>
                </div>
            </div>
        </aside>
    {% endif %}

    <div id="controller_action">
        <h1>Order</h1>
        <p>
            Name: <b>{{ order.getName() }}</b>
        </p>

        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}

    </div>

{% endblock %}

{% block content_script %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#contact').typeaheadRemote(
                {
                    source: '{{ url("common_admin_academic_typeahead")}}',
                }
            ).change(function (e) {
                if ($(this).data('value')) {
                    $('[name="contact[id]"]').val($(this).data('value').id);
                } else {
                    $('[name="contact[id]"]').val('');
                }
            });
        });
    </script>

{% endblock %}
