{% extends 'corporate/partials/vacancy.twig' %}

{% block content %}

    <div class="container">

        <div class="standardPageTitleHolder">
            <h1>{{ translate('Vacancy') }}</h1>
            <div class="pageTitleDeco"></div>
        </div>

        <div style="height: 30px"></div>

        {% import 'site/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}

    </div>
{% endblock %}
