{% extends 'admin/base.twig' %}

{% block content %}
	{% include 'admin_delivery/partials/navigation.twig' %}
	
	{% include 'admin/partials/flashMessenger.twig' %}

	<div id="controller_action">
		<table>
		
		    <tr>
		        <th>Name</th>
				<th>Actions</th>
		    </tr>
		    
		    {% for supplier in paginator %}
		        <tr>
		            <td>{{ supplier.getName() }}</td>
					<td width="200px">
						<a href="{{ url('admin_delivery', {"action": "supplier", "id": supplier.getId()}) }}" class="view">View</a>
					</td>
		        </tr>
		    {% endfor %}
		</table>
	</div>
	
	<aside>
		<div class="sidebox">
	        <div class="title">New Delivery</div>
	        <div class="content">
	            <p>
	        		<i>Please hit the link below to add a delivery!</i>
	            </p>
	            <p>
	                <a href="{{ url('admin_delivery', {"action": "add"}) }}">&rarr; Add Delivery</a>
	            </p>
	        </div>
	    </div>
	</aside>
{% endblock %}