{% extends 'sale/base.twig' %}

{% block content %}
    <div class="alert alert-danger fade show" id="loadingQueueError">
        An error occurred while loading the queue.
    </div>

    <div class="row">
        <div class="col-md-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Selling</th>
                    </tr>
                </thead>
                <tbody class="queueList" id="sellingList">
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Collected</th>
                    </tr>
                </thead>
                <tbody class="queueList" id="collectedList">
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Collecting</th>
                    </tr>
                </thead>
                <tbody class="queueList" id="collectingList">
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Signed In</th>
                    </tr>
                </thead>
                <tbody class="queueList" id="signedInList">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $.webSocket(
                {
                    name: 'overviewQueue',
                    url: '{{ socketUrl }}',
                    open: function (e) {
                        $('#loadingQueueError').addClass('d-none').removeClass('fade show');
                        $.webSocket('send', {name: 'overviewQueue', text:
                            JSON.stringify({
                                'command': 'initialize',
                                'queueType': 'queue',
                                'session': '{{ session.getId() }}',
                                'key': '{{ key }}',
                                'authSession': '{{ authSession.getId() }}',
                            })
                        });
                    },
                    message: function (e, data) {
                        $('#loadingQueueError').addClass('d-none').removeClass('fade show');

                        displayItem($('#signedInList'), data.queue.signed_in);
                        displayItem($('#collectingList'), data.queue.collecting);
                        displayItem($('#collectedList'), data.queue.collected);
                        displayItem($('#sellingList'), data.queue.selling);
                    },
                    error: function (e) {
                        $('#loadingQueueError').addClass('fade show').removeClass('d-none');
                        $('.queueList').html('');
                    }
                }
            );
        });

        function displayItem(container, data) {
            container.html('');
            $(data).each(function () {
                var item = $('<tr>').append(
                        $('<th scope="col">').html(this.number),
                        $('<td>').append(
                            (this.name ? this.name : 'Guest ' + this.id),
                            ' ',
                            (this.payDesk ? $('<span>', {class: 'badge badge-primary'}).html(this.payDesk) : '')
                        )
                    );
                container.append(item);
            });
        }
    </script>
{% endblock %}
