{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'form/admin/form/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#languages a:first').click();
            $('#mail_languages a:first').click();
            $('#reminder_mail_languages a:first').click();
            $('textarea.md').gollum();
            $('#mail').click(toggleMail);
            toggleMail();
            $('#reminder_mail').click(toggleReminder);
            toggleReminder();

            $('#type').change(function () {
                if ($(this).val() == 'form') {
                    $('form .doodle').closest('.row').hide();
                    $('form .form').closest('.row').show();
                } else {
                    $('form .form').closest('.row').hide();
                    $('form .doodle').closest('.row').show();
                }
            }).change();
        });

        function toggleMail() {
            if ($('#mail').is(':checked'))
                $('#mail_form').show();
            else
                $('#mail_form').hide();
        }

        function toggleReminder() {
            if ($('#reminder_mail').is(':checked'))
                $('#reminder_mail_form').show();
            else
                $('#reminder_mail_form').hide();
        }
    </script>
{% endblock %}
