{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'form/admin/form/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#languages a:first').click();
            $('#mail_form\\[languages\\] a:first').click();
            $('#reminder_mail_form\\[languages\\] a:first').click();
            $('textarea.md').gollum();
            $('#mail').bind('click change', toggleMail);
            toggleMail();
            $('#reminder_mail').bind('click change', toggleReminder);
            toggleReminder();
            $('#send_guest_login_mail').change(toggleGuestMail);

            $('#form_type').change(function () {
                if ($(this).val() == 'form') {
                    $('form .doodle_element').closest('.row').hide();
                    $('form .doodle_element').each(function () {
                        $(this).prop('checked', false).change();
                    });
                    $('form .form_element').closest('.row').show();
                } else {
                    $('form .form_element').closest('.row').hide();
                    $('form .form_element').each(function () {
                        $(this).prop('checked', false).change();
                    });
                    $('form .doodle_element').closest('.row').show();
                }
            }).change();
        });

        function toggleMail() {
            if ($('#mail').is(':checked')) {
                $('#mail_form').show();
            } else {
                $('#mail_form').hide();
                $('#send_guest_login_mail').prop('checked', false);
            }
        }

        function toggleReminder() {
            if ($('#reminder_mail').is(':checked'))
                $('#reminder_mail_form').show();
            else
                $('#reminder_mail_form').hide();
        }

        function toggleGuestMail() {
            if ($(this).is(':checked')) {
                $('#mail').prop('checked', true).change();
            }
        }
    </script>
{% endblock %}
