{% extends 'admin/base.twig' %}

{% block content %}
    {% include 'form/admin/form/partials/navigation.twig' %}

    {% include 'admin/partials/flashMessenger.twig' %}

    <div id="controller_action">
        {% import 'admin/partials/form.twig' as forms %}
        {{ forms.renderForm(form) }}
    </div>
    <aside>
        {% if hasAccess('form_admin_form_field', 'manage') %}
            <div class="sidebox">
                <div class="title">Manage Fields</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage the fields of this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_admin_form_field', {"action": "manage", "id": formSpecification.getId()}) }}">&rarr; Edit Fields</a>
                    </p>
                </div>
            </div>
        {% endif %}
        {% if hasAccess('form_admin_form_viewer', 'manage') %}
            <div class="sidebox">
                <div class="title">Manage View Access</div>
                <div class="content">
                    <p>
                        <i>Please hit the link below to manage who can view the results of this form!</i>
                    </p>
                    <p>
                        <a href="{{ url('form_admin_form_viewer', {"action": "manage", "id": formSpecification.getId()}) }}">&rarr; Edit Result Viewers</a>
                    </p>
                </div>
            </div>
        {% endif %}
    </aside>
{% endblock %}

{% block content_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#languages a:first').click();
            $('textarea.md').gollum({'width': '400px'});
            $('#mail').click(toggleMail);
            toggleMail();
        });

        function toggleMail() {
            if ($('#mail').is(':checked'))
                $('#mail_form').show();
            else
                $('#mail_form').hide();
        }
    </script>
{% endblock %}