<header id="controller_header">
    <div class="title"><span class="study">Groups</span></div>

    <nav id="controller_nav">
        <ul>
            {% if hasAccess('syllabus_admin_group', 'add') %}
                <li><a {% if 'add' == getParam('action') %} class="active" {% endif %} href="{{ url('syllabus_admin_group', {'action': 'add', 'academicyear': currentAcademicYear.getCode()}) }}">Add</a></li>
            {% endif %}
            {% if hasAccess('syllabus_admin_group', 'manage') %}
                <li><a {% if 'manage' == getParam('action') %} class="active" {% endif %} href="{{ url('syllabus_admin_group', {'academicyear': currentAcademicYear.getCode()}) }}">Manage</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
