{% extends 'corporate/partials/studentjob.twig' %}

{% block content %}
    <h1>{{ translate('Student Job') }}</h1>

    {% import 'site/partials/form.twig' as forms %}
    {{ forms.renderForm(form) }}
{% endblock %}
